*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: brandon-grotesque, sans-serif;
    line-height: 1;
    overflow-x: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
a {
    text-decoration: none;
    background-color: transparent;
    white-space: nowrap;
}
a:hover {
    text-decoration: none;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
button:focus,
a:focus,
input:focus
{
    outline:0;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}
button {
    border-radius: 0;
    background: none;
    border: 0;
    cursor: pointer;
}
.container {
    width: 100%;
    padding-right: 44px;
    padding-left: 44px;
    margin: 0 auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.column {
    position: relative;
    width: 100%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

/*----------------------navigation----------------------*/
nav {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.navbar {
    width: 100%;
    background-color: #ffffff;
    height: 101px;
    display: flex;
    align-items: center;
}
.navbar .row {
    align-items: center;
}

.nav-toggler{
    height: 22px;
    width: 37px;
    background-image: url("../img/bar.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}
.navbar-login {
    color: #1e1e1c;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 6.5px;
    text-transform: uppercase;
}
.navbar-brand {
    background-image: url("../img/logo-desk.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 49px;
    display: block;
}

.navbar-sessions {
    display: flex;
    justify-content: flex-end;
}
.navbar-sessions a,
.navbar-sessions span {
    color: #1e1e1c;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 6.5px;
    text-transform: uppercase;
}

/*--------------------header----------------------*/
.header {
    position: relative;
    display: block;
}
.header-container {
    width: 100%;
    margin: 0 auto;
    /*max-width: 1669px;*/
    padding: 0 44px;
}
.header .btn {
    background-color: #ffffff;
    border-radius: 0;
    width: 285px;
    height: 85px;
    color: #1e1e1c;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 4.96px;
    text-transform: uppercase;
}
.caption {
    color: #ffffff;
    text-align: center;
    line-height: 1.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.caption-category {
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.46px;
    padding-bottom: 31px;
}
.caption-brief {
    padding-bottom: 45px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.41px;
}
.caption h1 {
    font-size: 88px;
    font-weight: 900;
    letter-spacing: 10px;
    margin: 0;
    padding-bottom: 7px;
}

/*--------------------slider---------------------*/

.slick-arrow {
    position: absolute;
    bottom: 10%;
    left: 50px;
    z-index: 1;
    width: 55px;
    height: 55px;
    transform: translateY(-10%);
    padding: 0;
    overflow: hidden;
    font-size: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: 0.25s;
}
.slider_item {
    position: relative;
    background-image: url("../img/Image_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header > .slick-initialized .slick-slide {
    height: 60vh;
}
.slick-arrow:hover,
.slick-arrow:focus {
      background-color: #c6c6c6;
    }

.slick-arrow:active {
/*      transform: translateY(-50%) scale(0.9);*/
    }
.slick-next {
    margin-left: 68px;
    background-image: url("../img/arrow-next.svg");
  }
.slick-prev {
    background-image: url("../img/arrow-prev.svg");
}
.slider-counter {
    position: absolute;
    bottom: 13%;
    left: 200px;
    z-index: 1;
    font-size: 24px;
    color: #fff;
    /*mix-blend-mode: difference;*/
    pointer-events: none;
}
.slider-counter-current {
    position: relative;
    top: -15px;
}
.slider-counter-total {
    position: relative;
    bottom: -20px;
    left: 10px;
}
.slider-counter-current:after {
    top: 35px;
    left: -5px;
    content: '';
    width: 42px;
    height: 1px;
    position: absolute;
    background-color: #ffffff;
    transform: rotate(-40deg);
}

/*------------------filter----------------------*/
.filter {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 128px;
}
.filter .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.filter-nav-link {
    display: block;
    padding-bottom: 15px;
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
.filter .filter-tab a:hover,
.filter-tab a:active,
.filter-tab a:focus {
    transform: translateX(10px);
    color: #212226;
}
.filter .filter-tab a::before {
    content: "\2014\00A0";
    transform: translate(20px 5px);
    display: none;
}


.filter .filter-tab a{
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    transform: translateX(0px);
}
.filter-col-wrapper {
    margin-right: 20px;
}
.filter .filter-burn-text {
    color: #212226;
}
.filter .filter-burn-text h3 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2.28px;
    text-transform: uppercase;
    padding-bottom: 13px;
}
.filter .filter-burn-text p {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 97px;
    line-height: 1.5;
    max-width: 611px;
}
.filter-burn-container_wrapper {
    position: relative;
}
.post-wrapper_post-wrapper-bg {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: -130px;
    background-image: url("../img/REBELSPEAK.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 118px;
}
.post-wrapper {
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    display: flex;
}
.post-wrapper_first-column,
.post-wrapper_second-column {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-wrapper_second-column {
    align-items: flex-end;
}

.post-card-text_text-primary,
.post-card-text_text-secondary {
    z-index: 5;
    height: 120px;
    position: relative;
    bottom: 65px;
    left: -27px;
    padding: 27px 0 31px 36px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #212226;
    font-weight: 900;
    transition: linear 1s;
}

.post-card-text_text-secondary:hover {
    transform: translateY(-80px);
    box-shadow: none;
}
.post-card {
    display: block;
    position: relative;
    margin-left: 29px;
}

.post-card-text_text-secondary {
    font-size: 24px;
    max-width: 388px;
}
.post-card-text_text-primary {
    font-size: 36px;
    max-width: 528px;
}
.card-img-top {
    max-width: 427px;
}
.card-img-top-primary {
    max-width: 614px;
}
.blockquote-footer {
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;
    color: #b2b2b2;
}
.blockquote-footer::before {
    content: "\2014\00A0";
}
.post-card-text_description {
    position: relative;
    max-width: 388px;
    bottom: 150px;
    left: -27px;
    padding: 10px 0 31px 36px;
    z-index: 0;
    display: block;
    background-color: #ffffff;
    color: #707070;
    font-size: 18px;
    letter-spacing: 0.37px;
}
.post-card-text_description p {
    max-width: 254px;
}
.post-card-text_description .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.post-card-text_description-more {
    background-color: #000000;
    background-image: url("../img/cur-next.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

    /*---------------------more---------------------------*/

.view-more-wrapper {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.read-more-show,
.read-more-hide {
    margin: 50px 0;
    color: #212226;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.read-more-show::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 21px;
    left: 50%;
    transform: translate(-100px, 2px);
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
}
.read-more-hide {
    display: block;
}
.read-more-content {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 500px;
}
/*------------------about---------------------*/
.about {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 230px 0;
}
.about-text {
    font-weight: 500;
}
.about-text span {
    color: #b2b2b2;
    font-size: 22px;
    letter-spacing: 1.5px;
    padding-bottom: 17px;
}
.about-text  .about-text-main {
    width: 100%;
    margin: 0 auto;
    max-width: 915px;
    color: #212226;
    font-size: 54px;
    line-height: 74px;
    padding-bottom: 58px;
}
.about-text  .about-text-small {
    width: 100%;
    margin: 0 auto;
    max-width: 484px;
    color: #8a8a8a;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.26px;
}
.hide {
    display: none;
}
/*----------------sign section--------------------*/
.sign-section {
    padding-top: 109px;
    height: 271px;
    background-color: #141414;
}
.sign-section input {
    margin-left: 111px;
    width: 458px;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 14px;
}
.sign-section input::placeholder {
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
.sign-section p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2.38px;
    text-transform: uppercase;
}


/*--------------------footer----------------------*/
.footer {
    width: 100%;
    height: 448px;
    background-color: #212226;
    margin: 0 auto;

}
.footer .row {
    padding-top: 151px;
    align-items: center;
}
.footer-quote  {
    height: 148px;
    background-image: url("../img/footer-bg.png");
    background-position: center;
    background-size: 162px 132px;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
}

.footer-social a{
    padding-right: 33px;
}
.footer-quote h2 {
    margin-top: 34px;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.footer-quote .footer-quote-name {
    display: block;
    margin-top: 7px;
    font-size: 18px;
    font-weight: 400;
}
.footer-quote p {
    padding-top: 27px;
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.footer-siteMap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-siteMap a {
    padding-bottom: 12px;
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
}
