*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: brandon-grotesque, sans-serif;
    line-height: 1;
    overflow-x: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
button:focus,
a:focus,
input:focus
{
    outline:0;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}
button {
    border-radius: 0;
    background: none;
    border: 0;
    cursor: pointer;
}
.top-container {
    padding-right: 44px;
    padding-left: 44px;
    margin: 0 auto;
    max-width: 1920px;
}
.container {
    padding-right: 114px;
    padding-left: 114px;
    margin: 0 auto;
    max-width: 1920px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col {
    position: relative;
    width: 100%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.left-side {
    text-align: left;
}
.text-center {
    text-align: center;
}
.right-side {
    text-align: right;
}
/*----------------------navigation----------------------*/
.top-menu {
    display: block;
    white-space: nowrap;
}
.top-menu_navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 101px;
    line-height: 101px;
    font-weight: 900;
    letter-spacing: .225rem;
    text-transform: uppercase;
    color: #131614;
    border-bottom: .0625rem solid #c3c3c3;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    background-color: #fff;
    max-width: 100vw;
}
.top-menu_navbar .row {
    flex-wrap: nowrap;
}
.top-menu a {
    color: #131614;
    display: inline-block;
}
.top-menu_toggler-btn {
    position: relative;
    height: 27px;
    width: 37px;
    cursor: pointer;
    margin-right: 41px;
    transition: opacity .3s ease;
}
.top-menu_toggler-btn:hover {
    opacity: .5;
}
.nav-bar_toggler-icon_burger,
.nav-bar_toggler-icon_burger::before,
.nav-bar_toggler-icon_burger::after {
    content: '';
    height: 2px;
    width: 27px;
    background-color: #000000;
    position: absolute;
    top: 70%;
    left: 0;

}
.nav-bar_toggler-icon_burger::before {
    top: -7px;
    width: 37px;
}
.nav-bar_toggler-icon_burger::after {
    top: 7px;
    width: 17px;
}
.navbar-login {
    position: relative;
    font-size: 18px;
    transition: opacity .3s ease;
}
.navbar-login:hover {
    opacity: .5;
}
.top-menu_logo {
    max-width: 100%;
    display: inline-block;
}
.top-menu_navbar .right-side {
    font-size: 16px;
    letter-spacing: .4rem;
    font-weight: 900;

}
.right-side a {
    transition: opacity .3s ease;
}
.right-side a:hover {
    opacity: .5;
}

.left-side a:last-child:before {
    content: '\2044';
}
.top-menu_navbar .right-side a:first-of-type:after {
    content: ' | ';
}
.top-menu_navbar .opened {
    background-color: #212226;
    color: #fff;
}

.top-menu_content {
    display: none;
    background-color: #212226;
    -webkit-transition: visibility 0s, opacity .2s linear;
    transition: visibility 0s, opacity .2s linear;
    min-height: 100%;
    padding: 6.5em 7.5em 3.7em;
    position: relative;
}
.top-menu_content-items {
    text-transform: uppercase;
    font-size: 1.875rem;
    font-weight: 300;
    font-style: normal;
    line-height: 2.6rem;
    min-height: 500px;
}

.top-menu_content-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-menu_content-footer-links {
    display: inline-block;
    margin-left: 6.25rem;
    color: #7f7f7f;
    font-weight: 900;
    font-size: .9rem;
    letter-spacing: .0625rem;
}


/*--------------------header----------------------*/
.intro {
    position: relative;
    display: block;
    margin-top: 100px;
}
.intro-container {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caption-btn {
    background-color: #ffffff;
    border-radius: 0;
    width: 285px;
    height: 85px;
    color: #1e1e1c;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    border: 2px solid #fff;
    text-decoration: none;
    display: inline-block;
    padding: 32px 82px;
    transition: background-color .3s ease-in-out;
    letter-spacing: .3rem;
    white-space: nowrap;
}
.caption-btn:hover {
    background-color: transparent;
    color: #ffffff;
}
.caption {
    color: #ffffff;
    text-align: center;
    line-height: 1.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10%;
}
.caption-preheading {
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .1rem;
}
.caption-description {
    padding-bottom: 45px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .04rem;
}
.caption h1 {
    font-size: 88px;
    font-weight: 900;
    letter-spacing: 0.8rem;
}

/*--------------------slider---------------------*/

.slick-arrow {
    position: absolute;
    bottom: 10%;
    left: 50px;
    z-index: 1;
    width: 55px;
    height: 55px;
    transform: translateY(-10%);
    padding: 0;
    overflow: hidden;
    font-size: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color .25s ease-in-out;
}
.slider_item {
    position: relative;
    background: url("../img/Image_2.jpg") no-repeat;
    background-size: cover;
    
}
.intro > .slick-initialized .slick-slide {
    height: 80vh;
    outline: none;
}
.slick-arrow:hover,
.slick-arrow:focus {
      background-color: rgba(198, 198, 198, 0.56);
    }

.slick-next {
    margin-left: 68px;
    background-image: url("../img/arrow-next.svg");
  }
.slick-prev {
    background-image: url("../img/arrow-prev.svg");
}
.slider-counter {
    position: absolute;
    bottom: 13%;
    left: 200px;
    z-index: 1;
    font-size: 24px;
    color: #fff;
    pointer-events: none;
}
.slider-counter-current {
    position: relative;
    top: -15px;
}
.slider-counter-total {
    position: relative;
    bottom: -20px;
    left: 10px;
}
.slider-counter-current:after {
    top: 35px;
    left: -5px;
    content: '';
    width: 42px;
    height: 1px;
    position: absolute;
    background-color: #ffffff;
    transform: rotate(-40deg);
}
/*------------------filter----------------------*/
.filter {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 128px;
}
.filter .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.filter-nav-link {
    display: block;
    margin-bottom: 15px;
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}

.filter .filter-tab a{
    transition: transform .3s ease-in-out;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    transform: translateX(0px);
}
.filter .filter-tab a:hover,
.filter-tab a:active,
.filter-tab a:focus {
    transform: translateX(34px);
    color: #212226;
}
.filter .filter-tab a:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000000;
    top: 6px;
    left: -34px;
}

.filter-col-wrapper {
    margin-right: 20px;
}
.filter .filter-burn-text {
    color: #212226;
    margin-left: 28px;
}
.filter .filter-burn-text h3 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding-bottom: 13px;
}
.filter .filter-burn-text p {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 97px;
    line-height: 1.5;
    max-width: 611px;
}
.filter-burn-container_wrapper {
    position: relative;
    max-width: 1267px;
}
.post-wrapper_post-wrapper-bg {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: -130px;
    background: url("../img/REBELSPEAK.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 118px;
}
.post-wrapper {
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    display: flex;
}
.post-wrapper_first-column,
.post-wrapper_second-column {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-wrapper_second-column {
    align-items: flex-end;
}
.post-card {
    display: block;
    position: relative;
    margin-left: 29px;
    margin-bottom: 181px;
}
.post-card-text_more-info {
    color: #212226;
    transition: linear 1s;
}
.post-card-text_text-secondary,
.post-card-text_text-primary {
    position: absolute;
    transform: translate(-27px,-65px);
    padding: 27px 21px 31px 36px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.post-card-text_text-secondary {
    font-size: 24px;
}
.post-card-text_text-primary {
    font-size: 36px;
}
.card-img-top {
    max-width: 427px;
}
.card-img-top-primary {
    max-width: 614px;
}
.small-text {
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;
    color: #b2b2b2;
}
.small-text::before {
    content: "\2014\00A0";
}
.post-card-text_short-info {
    transition: opacity .5s ease-in-out;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .02rem;
    opacity: 0;
    height: 0;
}
.post-card a:hover .post-card-text_short-info,
.post-card a:hover .post-card-text_short-info_btn {
    padding-top: 10px;
    opacity: 1;
    min-height: 50px;
}
.post-card-text_short-info p {
    max-width: 60%;
    line-height: 1.2;
}
.post-card-text_short-info_btn {
    background: #000000 url("../img/cur-next.svg") no-repeat center;
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 50%;
    right: 25px;
    bottom: 25px;
    transition: background-color .3s ease-in-out;
    opacity: 0;
    background-size: 50% 50%;

}
.post-card-text_short-info_btn:hover {
    background-color: #8b8b8b;
}

    /*---------------------more---------------------------*/

.view-more-wrapper {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.read-more-show-icon {
    position: relative;
    top: -2px;
}
.read-more-show,
.read-more-hide {
    margin: 50px 0;
    color: #212226;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .5rem;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity .3s ease-in;
}
.read-more-show:hover,
.read-more-hide:hover {
    opacity: .6;
}
.read-more-hide {
    display: block;
}
.read-more-content {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 500px;
}
/*------------------about---------------------*/
.about {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 230px 0;
}
.about-text {
    font-weight: 500;
}
.about-text span {
    color: #b2b2b2;
    font-size: 22px;
    letter-spacing: 1.5px;
    padding-bottom: 17px;
}
.about-text  .about-text-main {
    width: 100%;
    margin: 0 auto;
    max-width: 915px;
    color: #212226;
    font-size: 54px;
    line-height: 74px;
    padding-bottom: 58px;
}
.about-text  .about-text-small {
    width: 100%;
    margin: 0 auto;
    max-width: 484px;
    color: #8a8a8a;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .14rem;
}
.hide {
    display: none;
}
/*----------------sign section--------------------*/
.sign-section {
    display: block;
    position: relative;
    white-space: nowrap;
    min-height: 271px;
    background-color: #141414;
}
.sign-section_form {
    position: relative;
    padding: 10% 0;
    display: flex;
}
.sign-section_input-field {
    margin-left: 5%;
    min-width: 458px;
    border-bottom: 1px solid #ffffff;
}
.sign-section input {
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 14px;
    width: 400px;
}
.sign-section input::placeholder {
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.sign-section label {
    display: inline;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .0793rem;
    text-transform: uppercase;
}
.sign-btn {
    transform: translateX(0);
    transition: .5s ease-in-out;
}
.sign-btn:hover {
    transform: translateX(15px);
}

/*--------------------footer----------------------*/
.footer {
    width: 100%;
    min-height: 448px;
    background-color: #212226;
    margin: 0 auto;
    padding-top: 151px;
}
.footer-section_footer-row {
    align-items: center;
}
.footer-social_list {
    display: flex;
    align-items: center;
}
.footer-social_list-item {
    padding-right: 33px;

}
.footer-social_list-item:last-child {
    padding-right: 0;
}
.footer-social_list-item path {
    transition: fill .3s ease-in-out;
}
.footer-social_icon-youtube:hover path {
    fill: #DD4B39;
}
.footer-social_icon-twitter:hover path {
    fill: #1DA1F2;
}
.footer-social_icon-instagram:hover path {
    fill: url(#instaGr);
}
.footer-social_icon-facebook:hover path {
    fill: #3B5998;
}
.footer-quote  {
    min-height: 148px;
    background: url("../img/footer-bg.png") no-repeat center;
    text-align: center;
    color: #ffffff;
    max-width: 100%;
}
.footer-quote p {
    margin-top: 34px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: .082rem;
    text-transform: uppercase;
}
.footer-quote-name {
    font-size: 18px;
    font-weight: 400;
}
.footer-quote_btn {
    display: block;
    padding-top: 42px;
}
.footer-quote a,
.footer-siteMap a {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .357rem;
    text-transform: uppercase;
}
.footer-siteMap_list-item {
    padding-bottom: 12px;
    text-align: end;
}
.footer-quote a:hover,
.footer-siteMap_list-item a:hover {
    color: #ffffff;
}
.footer-siteMap_list-item:last-child {
    padding-bottom: 0;
}