
@media screen and (max-width: 1461px) {
    .left-side .navbar-login,
    .right-side {
        display: none;
    }
    .top-menu_navbar .row{
        flex-direction: row-reverse;
    }
    .left-side {
        text-align: right;
    }
    .top-menu_toggler-btn {
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
        margin-right: 0;
    }
    .caption h1{
        font-size: 46px;
        letter-spacing: .15rem;
    }
    .post-card-text_text-secondary,
    .post-card-text_text-primary {
        font-size: 16px;
        max-width: 316px;
    }
    .small-text {
        font-size: 14px;
    }


}
@media screen and (max-width: 1224px){
    .caption-preheading {
        font-size: 16px;
        letter-spacing: .375rem;
    }
    .caption-description {
        width: 100%;
        font-size: 16px;
        letter-spacing: .00625rem;
        line-height: 1.2;
        max-width: 192px;
        margin: 0 auto;
    }
    .slider_item {
        background-position: -200px;
    }
    .slick-arrow {
        width: 39px;
        height: 39px;
    }
    .filter {
        margin-top: 65px;
    }
    .filter .row {
        display: flex;
        flex-direction: column;
    }
    .filter .filter-burn-text h3 {
        display: none;
    }
    .post-wrapper_post-wrapper-bg {
        display: none;
    }
    .filter .filter-tab {
        display: flex;
    }
    .filter .filter-tab a {
        padding: 13px 20px 8px 28px;
        white-space: nowrap;
    }
    .filter .filter-tab a:hover,
    .filter-tab a:active,
    .filter-tab a:focus {
       transform: none;
        transition: none;
        color: #ffffff;
        text-align: left;
        background-color: #212226;
        padding: 13px 20px 8px 28px;
    }
    .filter .filter-tab a:hover::before {
        display: none;
    }
    .filter .filter-burn-text p {
        font-size: 20px;
        padding-bottom: 28px;
    }
    .about {
        padding-top: 87px;
        padding-bottom: 78px;
    }
    .about-text span {
        font-size: 16px;
        line-height: 2;
    }
    .about-text  .about-text-main {
        max-width: 445px;
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 30px;
    }
    .about-text  .about-text-small {
        font-size: 12px;
        letter-spacing: 0.17px;
        max-width: 388px;
    }
    .sign-section {
        background-color: #ffffff;
    }
    .sign-section_form {
        flex-direction: column;
        text-align: center;

    }
    .sign-section_input-field {
        border-bottom: 1px solid #000000;
        min-width: 350px;
        margin: 0 auto;
        text-align: left;
    }
    .sign-section label {
        color: #13171a;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        padding-bottom: 20px;

    }
    .sign-section input {
        font-size: 12px;
        font-weight: 900;
        color: #000000;
        padding-bottom: 20px;
        width: 300px;
    }
    .footer {
        height: 469px;
        padding-top: 49px;
        padding-bottom: 101px;
        position: relative;

    }
    .footer-section_footer-row {
        flex-direction: column;
    }
    .footer-social {
        padding-bottom: 50px;
        max-width: 200px;
    }
    .footer-social_list {
        justify-content: space-between;
    }
    .footer-siteMap_list-item {
        text-align: center;
    }
    .footer-siteMap {
        display: flex;
        justify-content: center;
    }
    .footer-quote {
        height: 131px;
        position: absolute;
        bottom: 101px;
    }

    .footer-quote p {
        white-space: nowrap;
        font-size: 24px;
    }


}
@media screen and (max-width: 1024px) {
     .slider-counter {
        bottom: 11%;
    }
   
    .filter .filter-tab a {
        font-size: 10px;
        letter-spacing: .257rem;
        padding: 0;
    }

    .filter .filter-tab a:hover,
    .filter-tab a:active,
    .filter-tab a:focus {
        background-color: transparent;
        color: #212226;
        padding: 0;
    }
    .filter .filter-burn-text p {
        max-width: 420px;
    }
    .post-card-text_short-info {
        font-size: 14px;
    }
    .small-text {
        display: block;
        font-size: 12px;
        font-weight: 500;
        padding-top: 12px;
        color: #b2b2b2;
    }
    .footer .col {
        width: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }

}
@media screen and (max-width: 769px) {
    .slider_item {
        background-position: -400px;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .caption-btn {
        display: none;
    }
    .slick-next {
        margin-left: 54px;
    }
    .filter {
        margin-top: 38px;
    }

    .post-card-text_text-primary,
    .post-card-text_text-secondary {
        min-width: 250px;
        padding: 17px 20px 21px 26px;
        height: auto;
    }
    .post-card {
        margin-bottom: 42px;
    }
    .post-wrapper,
    .view-more-wrapper {
        flex-wrap: wrap;
        max-width: 280px;
    }
    .post-wrapper_second-column {
        display: block;
    }
    .filter .filter-burn-text p {
        font-size: 20px;
        max-width: 320px;
    }
    .post-card-text_short-info_btn,
    .post-card-text_short-info {
        display: none;
    }
    .sign-section {
        display: none;
    }
    .about-text  .about-text-small {
        max-width: 250px;
    }
}