
@media screen and (max-width: 1461px) {
    .left-side .navbar-login,
    .right-side {
        display: none;
    }
    .top-menu_navbar .row{
        flex-direction: row-reverse;
        text-align: right;
    }
    .left-side {
        text-align: right;
    }
    .top-menu_toggler-btn {
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
        bottom: 0;
        right: 0%;
    }
    .caption h1{
        font-size: 46px;
        letter-spacing: 6.7px;
    }
    .post-card-text_text-secondary {
        font-size: 16px;
        max-width: 283px;
    }
    .post-card-text_text-primary {
        font-size: 16px;
        max-width: 316px;
    }


}
@media screen and (max-width: 1224px){
    .top-menu_toggler-btn {
        margin-right: 0;
    }
    .caption-preheading {
        font-size: 16px;
        letter-spacing: 0.6px;
    }
    .caption-description {
        width: 100%;
        font-size: 16px;
        letter-spacing: 0.1px;
        line-height: 1.2;
        max-width: 192px;
        margin: 0 auto;
    }
    .slider_item {
        background-position: -200px;
    }
    .slick-arrow {
        width: 39px;
        height: 39px;
    }
    .filter {
        padding-top: 65px;
    }
    .filter .row {
        display: flex;
        flex-direction: column;
    }
    .filter .filter-burn-text h3 {
        display: none;
    }
    .post-wrapper_post-wrapper-bg {
        display: none;
    }
    .filter .filter-tab {
        display: flex;
        position: relative;

    }
    .filter .filter-tab a {
        padding: 13px 20px 8px 28px;
    }
    .filter .filter-tab a:hover,
    .filter-tab a:active,
    .filter-tab a:focus {
       transform: none;
        transition: none;
        color: #ffffff;
        text-align: center;
        background-color: #212226;
        padding: 13px 20px 8px 28px;
    }
    .filter .filter-tab a:hover::before {
        display: none;
    }
    .filter .filter-burn-text p {
        font-size: 20px;
        padding-bottom: 28px;
    }


    .about {
        padding-top: 87px;
        padding-bottom: 78px;
    }
    .about-text span {
        font-size: 16px;
        line-height: 2;
    }
    .about-text  .about-text-main {
        max-width: 445px;
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 30px;
    }
    .about-text  .about-text-small {
        font-size: 12px;
        letter-spacing: 0.17px;
        max-width: 388px;
    }
    .sign-section {
        background-color: #ffffff;

    }
    .sign-section_form {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sign-section label {
        color: #13171a;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        padding-bottom: 20px;

    }
    .sign-section input {
        font-size: 12px;
        font-weight: 900;
        margin: 0 auto;
        color: #000000;
        border-bottom: 1px solid #000000;
        padding-bottom: 20px;
    }
    .sign-btn {
        top: 50%;
        right: 50%;
        transform: translate(450%, 10%);
    }
    .footer {
        height: 469px;
        padding-top: 49px;
        padding-bottom: 101px;
        position: relative;

    }
    .footer .row {
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }
    .footer-social {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .footer-social a {
        padding-right: 34px;
    }
    .footer-social a:last-child {
        padding-right: 0;
    }
    .footer-siteMap {
        align-items: center;
    }
    .footer-quote {
        height: 131px;
        position: absolute;
        bottom: 101px;
        padding-top: 0;
    }
    .footer-quote h2 {
        white-space: nowrap;
        font-size: 24px;
    }


}
@media screen and (max-width: 1024px) {
    .card-img-top {
        max-width: 311px;
    }
    .card-img-top-primary {
        max-width: 367px;
    }
    .slider-counter {
        bottom: 13%;
    }
    .filter .filter-tab a {
        font-size: 10px;
        letter-spacing: .257rem;
    }
    .filter .filter-tab a:hover,
    .filter-tab a:active,
    .filter-tab a:focus {
        background-color: transparent;
        color: #212226;
    }
    .filter .filter-burn-text p {
        max-width: 420px;
    }
    .post-card-text_short-info {
        font-size: 14px;
    }
    .small-text {
        display: block;
        font-size: 12px;
        font-weight: 500;
        padding-top: 12px;
        color: #b2b2b2;
    }
    .footer .col {
        width: 100%;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

}
@media screen and (max-width: 769px) {
    .intro-container,
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .caption-btn {
        display: none;
    }
    .slick-arrow {
        bottom: 10%;
        left: 20px;
    }
    .slick-next {
        margin-left: 54px;
    }
    .slider-counter {
        bottom: 12%;
        left: 150px;
    }
    .filter {
        padding-top: 38px;
    }
    .filter-nav-link {
        display: block;
        width: 100%;
    }

    .post-card-text_text-primary,
    .post-card-text_text-secondary {
        padding: 17px 0 21px 26px;
        height: auto;
    }
    .post-card {
        margin-bottom: 42px;
    }
    .post-wrapper,
    .view-more-wrapper {
        flex-wrap: wrap;
        max-width: 280px;
    }
    .post-wrapper_second-column {
        display: block;
    }
    .filter .filter-burn-text p {
        font-size: 20px;
        max-width: 320px;
    }
    .post-wrapper_first-column,
    .post-wrapper_second-column {
        justify-content: flex-end;
    }
    .post-card-text_short-info_btn,
    .post-card-text_short-info {
        display: none;
    }
    .sign-section {
        display: none;
    }
    .about-text  .about-text-small {
        max-width: 250px;
    }
    .footer-quote h2 {
        letter-spacing: 0.08px;
    }
}