@import "variables";
@import url('https://fonts.googleapis.com/css?family=Assistant:300,400&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

}
body {

  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;

  a {

    color: $color-light-gray;
    text-decoration: none;
    background-color: transparent;

    &:hover {

      color: $color-dark-gray;
      text-decoration: none;
      transition: color .3s ease-in-out;

    }
  }

  ul,
  li {

    list-style: none;
  }

  ol,
  li {

    list-style: decimal inside;
    color: $color-blue;

  }

  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }


  img {

    position: relative;
    vertical-align: middle;
    border-style: none;
    width: 100%;

  }

  button:focus,
  a:focus,
  input:focus {

    outline: 0;

  }
  input {

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 179);
    max-width: 300px;
    padding: 5px 0;
    border-radius: 0;

  }

  svg {

    overflow: hidden;
    vertical-align: middle;

  }

  button {

    border-radius: 0;
    background: none;
    border: 0;
    cursor: pointer;
  }

  .btn {

    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 15px;
    display: block;
    border-radius: 2px;
    background-color: rgb(238, 170, 121);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color .3s ease, color .3s ease;
    color: $color-white;
    min-width: 220px;

    &:hover {

      background-color: $color-orange;

    }
  }

  .container {

    width: 100%;
    max-width: 1360px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

  }

  .row {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  h1 {

    font-family: Assistant, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $color-blue;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-orange;
    width: fit-content;
    display: inline-block;

  }

}


.header {

  min-height: 60px;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 999;

  .row {

    align-items: center;
    justify-content: flex-end;
    min-height: 60px;

    li {
      display: inline-block;
      padding: 10px;
      svg {
        width: 17px;
        height: 16px;
      }
      .customer-name {
        font-family: "Segoe UI Emoji", sans-serif;
        font-weight: 400;
        color: $color-dark-gray;
      }

    }

  }

  .open-btn {

    cursor: pointer;
    position: absolute;
    color: $color-orange;
  }

}

.main {

  padding-top: 61px;
  transition: margin-left .5s;

  .container {

    position: relative;

    .sidenav {

      height: 100%;
      width: 1px;
      position: fixed;
      z-index: 9999;
      top: 60px;
      left: 0;
      background-color: $color-white;
      overflow-x: hidden;
      padding-top: 30px;
      transition: 0.5s;
      border-right: 1px solid #eee;

      li {

        list-style: none;
        text-align: center;
        position: relative;

        &:hover:after {

          content: '';
          position: absolute;
          top: 8px;
          right: 0;
          width: 1px;
          height: 25px;
          background-color: $color-orange;

        }
        svg {

          width: 15px;

        }

      }

      a {

        text-decoration: none;
        font-size: 25px;
        color: $color-dark-gray;
        display: block;

        &:hover {

          color: $color-light-gray;
        }
      }

      .closebtn {

        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;

      }
    }

    .first-step__wrapper {

      width: 100%;
      transition: width .3s ease;
      background-color: $color-white;
      min-height: 700px;
      padding-top: 20px;

      strong {

        color: $color-blue;
        font-weight: 400;
        margin-bottom: 50px;
        display: inline-block;

      }

      .shipper-details {

        margin-bottom: 40px;

        .shipper-details__row {

          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          .shipper-details__field{

            margin-right: 20px;
            position: relative;

            &:after {
              content: url("../img/search1.svg");
              position: absolute;
              width: 10px;
              height: 10px;
              opacity: .5;
              top: -5px;
              right: 18px;

            }

            input {
              display: block;
              min-width: 300px;
              padding-right: 25px;

              &:focus {
                outline: 0;
                border-bottom: 1px solid $color-dark-gray;

              }
            }
            label {

              color: $color-light-gray;
              position: absolute;
              transform: translateY(-25px);
              transition: all .3s;
              font-weight: 300;
            }

            input:focus + label {

              transform: translateY(-40px);
              cursor: pointer;
              font-size: 12px;
            }
          }
        }
      }

      .checkbox-field {

        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {

          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

        }

        .checkmark {

          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          border: 1px solid $color-light-gray;
          border-radius: 2px;

          &:after {
            content: "\2714";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: none;
            color: $color-blue;
            font-weight: bold;
            font-size: 20px;
          }

        }

        &:hover input ~ .checkmark {
          opacity: .5;
        }
        & input:checked ~ .checkmark {
          border-color: transparent;
        }
        & input:checked ~ .checkmark:after {
          display: block;
        }

      }

      .shipment-details {

        border-bottom: 1px solid rgb(234, 236, 237);
        padding-bottom: 40px;
        color: $color-dark-gray;


        table {

          border: 0;
          width: 100%;
          td {
            padding: 10px 0;
            .table-row {
              width: 100%;
              justify-content: space-between;
            }
          }
          .table-titles {

            th {

              border-bottom: 1px solid rgb(234, 236, 237);
              font-size: 14px;
              color: $color-light-gray;
              font-weight: 300;

            }
          }

          input {
            &::placeholder {
              color: $color-light-gray;
            }
            &:focus {
              border-color: $color-dark-gray;
            }

          }

          select {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgb(180, 180, 179);
            color: $color-light-gray;
            &:focus {
              border-color: $color-dark-gray;
            }
          }
        }
      }

      .save-form {

        padding: 20px 0 120px;

        .row {

          justify-content: flex-end;

          .save-form__wrapper {
            label {
              color: $color-light-gray;
              display: block;
              margin-bottom: 20px;
              padding-left: 30px;

              a{
                color: $color-blue;
                border-bottom: 1px solid;
                &:hover {
                  color: $color-light-gray;
                }
              }
            }

            button {
              float: right;
              clear: right;
            }
          }
        }
      }
    }
  }
}