@font-face {
  font-family: "Apercu Light";
  src: url("/fonts/Apercu Light.otf") format("otf"); }
@font-face {
  font-family: "Chronicle Display Roman";
  src: url("/fonts/Chronicle Display Roman.otf") format("otf"); }
@font-face {
  font-family: "Verlag-Book";
  src: url("/fonts/Verlag-Book.otf") format("otf"); }
@font-face {
  font-family: "ApercuPro";
  src: url("/fonts/ApercuPro.ttf") format("ttf"); }
*,
*::before,
*::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

body {
  font-family: "Apercu Light", sans-serif;
  overflow-x: hidden; }
  body a {
    text-decoration: none;
    background-color: transparent; }
  body ul,
  body li {
    list-style: none; }
  body a:hover {
    text-decoration: none; }
  body article, body aside, body figcaption, body figure, body footer, body header, body hgroup, body main, body nav, body section {
    display: block; }
  body img {
    position: relative;
    vertical-align: middle;
    border-style: none;
    width: 100%; }
  body button:focus,
  body a:focus,
  body input:focus {
    outline: 0; }
  body svg {
    overflow: hidden;
    vertical-align: middle; }
  body button {
    border-radius: 0;
    background: none;
    border: 0;
    cursor: pointer; }
  body textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none !important; }
  body .nav-btn {
    color: #525759;
    font-size: 16px;
    line-height: 2.2;
    text-transform: uppercase; }
  body .pagination_btn {
    display: flex;
    justify-content: center; }
  body .btn-primary {
    color: #cbbcb8;
    font-family: "Verlag-Book";
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .25rem;
    line-height: 2.3; }
  body a.btn {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    transition: all .5s; }
    body a.btn, body a.btn::after, body a.btn::before {
      transition: all .5s; }
    body a.btn::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #a2a9b0;
      height: 1px; }
    body a.btn:hover::after {
      width: 100%; }
  body .container {
    max-width: 1920px;
    margin: 0 auto; }
  body .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  body .col {
    position: relative;
    width: calc(100% /2); }
  body .col:only-of-type {
    width: 100%; }
  body h1 {
    font-size: 40px;
    font-family: "Chronicle Display";
    letter-spacing: .4rem;
    color: #ffffff;
    text-transform: uppercase; }
  body h2 {
    font-size: 30px;
    font-family: "Chronicle Display Roman";
    letter-spacing: .4rem;
    color: #525759;
    text-transform: uppercase; }
  body p {
    font-size: 16px;
    font-family: "Apercu Light";
    line-height: 1.75;
    color: #a2a9b0; }
  body .slick-initialized,
  body .slick-slider,
  body .slick-list,
  body .slick-draggable,
  body .slick-slide {
    outline: none !important; }

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100vw;
  z-index: 99999;
  background-image: linear-gradient(180deg, rgba(198, 198, 198, 0.39) 0%, rgba(238, 234, 234, 0) 100%); }
  .header-section .header-section__container {
    padding-left: 64px;
    padding-right: 64px; }
    @media screen and (max-width: 769px) {
      .header-section .header-section__container {
        padding-left: 30px;
        padding-right: 30px; } }
    .header-section .header-section__container .header-section__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 155px; }
      .header-section .header-section__container .header-section__row .nav-bar_toggler {
        cursor: pointer;
        position: relative;
        display: none;
        height: 40px;
        width: 40px;
        border-radius: 2px;
        transition: background-color .3s ease-in-out; }
        @media screen and (max-width: 1240px) {
          .header-section .header-section__container .header-section__row .nav-bar_toggler {
            display: block; } }
        .header-section .header-section__container .header-section__row .nav-bar_toggler:hover {
          background-color: #7b8287; }
        .header-section .header-section__container .header-section__row .nav-bar_toggler .nav-bar_toggler-icon {
          content: '';
          height: 2px;
          width: 27px;
          background-color: #ffffff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          .header-section .header-section__container .header-section__row .nav-bar_toggler .nav-bar_toggler-icon::before {
            content: '';
            height: 2px;
            width: 27px;
            background-color: #ffffff;
            position: absolute;
            top: -10px; }
          .header-section .header-section__container .header-section__row .nav-bar_toggler .nav-bar_toggler-icon::after {
            content: '';
            height: 2px;
            width: 27px;
            background-color: #ffffff;
            position: absolute;
            top: 10px; }
      .header-section .header-section__container .header-section__row .header-section__brand-logo {
        max-width: 435px; }
        @media screen and (max-width: 769px) {
          .header-section .header-section__container .header-section__row .header-section__brand-logo {
            max-width: 235px; } }
      .header-section .header-section__container .header-section__row .header-section__navigation-wrapper {
        align-items: center;
        display: block; }
        @media screen and (max-width: 1240px) {
          .header-section .header-section__container .header-section__row .header-section__navigation-wrapper {
            display: none; } }
        .header-section .header-section__container .header-section__row .header-section__navigation-wrapper .header-section__navigation {
          display: flex;
          flex-wrap: wrap;
          color: #525759;
          font-family: "Chronicle Display Roman";
          font-size: 16px;
          letter-spacing: .4rem; }
          .header-section .header-section__container .header-section__row .header-section__navigation-wrapper .header-section__navigation li {
            padding-left: 43px; }
      .header-section .header-section__container .header-section__row .open {
        display: none; }
        .header-section .header-section__container .header-section__row .open.open-menu {
          display: block;
          position: absolute;
          top: 100px;
          right: 64px; }
          @media screen and (max-width: 769px) {
            .header-section .header-section__container .header-section__row .open.open-menu {
              right: 30px; } }
          .header-section .header-section__container .header-section__row .open.open-menu ul {
            display: flex;
            flex-direction: column;
            text-align: right; }
            .header-section .header-section__container .header-section__row .open.open-menu ul li {
              line-height: 20px; }

.scrolled {
  background-image: linear-gradient(180deg, #959595 0%, rgba(238, 234, 234, 0.5) 100%); }

.hero-section .slick-slide {
  background-image: linear-gradient(to bottom, rgba(82, 87, 89, 0.2) 0%, rgba(82, 87, 89, 0.2) 100%), url("img/aditya-saxena-410663-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh; }
.hero-section .hero-section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10%; }
  .hero-section .hero-section__container .hero-section__caption h1 {
    text-align: center; }
  .hero-section .hero-section__container .hero-section__caption ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px; }
    .hero-section .hero-section__container .hero-section__caption ul li {
      color: #ffffff;
      font-size: 16px;
      letter-spacing: .4rem;
      text-transform: uppercase; }
    .hero-section .hero-section__container .hero-section__caption ul li:after {
      content: '|';
      padding-right: 8px;
      padding-left: 8px; }
    .hero-section .hero-section__container .hero-section__caption ul li:last-of-type:after {
      content: ''; }
.hero-section .slick-arrow {
  position: absolute;
  bottom: 88px;
  right: 10%;
  z-index: 100;
  transform: translateY(-10%);
  padding: 0;
  overflow: hidden;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: opacity .25s ease-in-out; }
  .hero-section .slick-arrow:hover {
    opacity: .5; }
.hero-section .slick-next {
  background-image: url("img/next.svg"); }
.hero-section .slick-prev {
  background-image: url("img/prev.svg");
  margin-right: 50px; }
.hero-section .slick-dots {
  position: absolute;
  transform: translateY(-100%);
  display: flex;
  bottom: 100px;
  left: 10%;
  z-index: 100;
  padding: 0;
  font-size: 0; }
  .hero-section .slick-dots li:hover button:before {
    background-color: #c6c6c6; }
  .hero-section .slick-dots button:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #525759;
    border-radius: 50%;
    display: inline-block;
    margin-right: 17px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    transition: background-color .25s ease-in-out; }
  .hero-section .slick-dots .slick-active button:before {
    background-color: #ffffff; }
  .hero-section .slick-dots button {
    font-size: 0; }

.intro-section {
  position: relative;
  min-height: 979px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 30px; }
  .intro-section .intro-section__container {
    max-width: 624px;
    text-align: center; }
    .intro-section .intro-section__container h2 {
      margin-bottom: 65px; }
    .intro-section .intro-section__container p {
      margin-bottom: 59px; }

.breathe-section {
  position: relative;
  background: url("img/averie-woodard-205419-unsplash.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .breathe-section::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(82, 87, 89, 0.1);
    z-index: 1; }
  .breathe-section .breathe-section__container {
    max-width: 475px;
    margin-left: 60%;
    padding: 20px;
    z-index: 10; }
    @media screen and (max-width: 1240px) {
      .breathe-section .breathe-section__container {
        margin-left: 40%; } }
    @media screen and (max-width: 769px) {
      .breathe-section .breathe-section__container {
        margin-left: 0;
        max-width: 100%; } }
    .breathe-section .breathe-section__container h2,
    .breathe-section .breathe-section__container p {
      color: #ffffff; }
    .breathe-section .breathe-section__container h2 {
      font-size: 35px;
      line-height: 1.4;
      margin-bottom: 54px; }

.time-section {
  position: relative;
  min-height: 979px;
  background-color: #ffffff;
  display: flex;
  align-items: center; }
  .time-section .time-section__container {
    width: 1920px; }
    .time-section .time-section__container .time-section__article {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      @media screen and (max-width: 1240px) {
        .time-section .time-section__container .time-section__article {
          flex-wrap: wrap;
          justify-content: center; } }
      .time-section .time-section__container .time-section__article .time-section__article-description {
        max-width: 609px;
        margin-right: 5%;
        padding: 20px; }
        .time-section .time-section__container .time-section__article .time-section__article-description h2 {
          margin-bottom: 50px; }
        .time-section .time-section__container .time-section__article .time-section__article-description p {
          color: #a2a9b0; }
      .time-section .time-section__container .time-section__article .time-section__article-img {
        position: relative; }
        .time-section .time-section__container .time-section__article .time-section__article-img:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(255, 255, 255, 0.2);
          width: 100%;
          height: 100%;
          z-index: 1; }

.recipes-section .recipes-section__container .slick-slider .slick-arrow {
  position: absolute;
  padding: 0;
  overflow: hidden;
  font-size: 0; }
.recipes-section .recipes-section__container .slick-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 114px; }
  .recipes-section .recipes-section__container .slick-slider .slick-dots button:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #a2a9b0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 17px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    transition: background-color .25s ease-in-out; }
  .recipes-section .recipes-section__container .slick-slider .slick-dots .slick-active button:before {
    background-color: #c6c6c6; }
  .recipes-section .recipes-section__container .slick-slider .slick-dots button {
    font-size: 0; }
.recipes-section .recipes-section__container .recipes-section__item {
  padding: 0 18px;
  position: relative; }
  @media screen and (max-width: 1240px) {
    .recipes-section .recipes-section__container .recipes-section__item {
      min-height: 385px; } }
  .recipes-section .recipes-section__container .recipes-section__item img {
    min-height: 385px;
    object-fit: cover; }
  .recipes-section .recipes-section__container .recipes-section__item .recipes-section__item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    min-width: 80%;
    min-height: 319px;
    padding: 8%; }
    .recipes-section .recipes-section__container .recipes-section__item .recipes-section__item-title small {
      color: #cbbcb8;
      font-size: 12px;
      letter-spacing: .25rem;
      line-height: 2.3;
      text-transform: uppercase;
      display: block;
      margin-bottom: 31px; }
    .recipes-section .recipes-section__container .recipes-section__item .recipes-section__item-title strong {
      color: #525759;
      font-family: "Chronicle Display Roman";
      font-size: 30px;
      letter-spacing: .03rem;
      line-height: 1.3;
      text-transform: uppercase;
      margin-bottom: 39px;
      display: block; }

.quote-section {
  background: url("img/alexandre-chambon-140035-unsplash_(1).jpg") no-repeat center;
  background-size: cover;
  min-height: 761px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .quote-section .quote-section__container {
    max-width: 723px;
    padding: 0 30px; }
    .quote-section .quote-section__container svg {
      margin-bottom: 112px; }
    .quote-section .quote-section__container p {
      margin-bottom: 57px;
      color: #ffffff;
      font-family: "Apercu Light";
      font-size: 22px;
      font-weight: 300;
      line-height: 1.59; }
    .quote-section .quote-section__container cite {
      font-style: normal;
      color: #ffffff;
      font-family: "Verlag-Book";
      font-size: 16px;
      font-weight: 300;
      letter-spacing: .25rem;
      text-transform: uppercase; }

.consultation-section {
  min-height: 780px;
  background: url("img/247-layers.png") no-repeat center;
  display: flex;
  align-items: center;
  position: relative; }
  .consultation-section:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    min-height: 780px; }
  .consultation-section .consultation-section__container {
    z-index: 1;
    width: 1290px;
    padding: 0 30px; }
  .consultation-section .consultation-section__caption {
    background-color: #ffffff;
    min-height: 319px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media screen and (max-width: 769px) {
      .consultation-section .consultation-section__caption {
        flex-wrap: wrap; } }
    .consultation-section .consultation-section__caption .consultation-section__caption-title h2 {
      margin-bottom: 55px; }
    .consultation-section .consultation-section__caption .consultation-section__caption-title p {
      max-width: 654px; }
    .consultation-section .consultation-section__caption a {
      display: block; }

.footer-section {
  padding: 0 30px;
  min-height: 285px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid #c6c6c6; }
  .footer-section .footer-section__container {
    width: 1290px;
    position: relative; }
    .footer-section .footer-section__container .footer-section__row {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media screen and (max-width: 1024px) {
        .footer-section .footer-section__container .footer-section__row {
          flex-direction: column; } }
      .footer-section .footer-section__container .footer-section__row .col-3 {
        width: calc(100% / 3 - 20px);
        display: flex;
        justify-content: space-around; }
        @media screen and (max-width: 1024px) {
          .footer-section .footer-section__container .footer-section__row .col-3 {
            width: 100%; } }
        .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item {
          padding: 10px; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__title {
            color: #525759;
            font-family: "Chronicle Display Roman";
            font-size: 14px;
            letter-spacing: .3rem;
            line-height: 1.78;
            text-transform: uppercase;
            margin-bottom: 15px; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__navigation li a {
            color: #525759;
            font-family: "Apercu Light";
            font-size: 14px;
            letter-spacing: .03rem;
            line-height: 1.78;
            transition: font-size .3s ease; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__follow {
            display: flex;
            flex-wrap: wrap; }
            .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__follow .footer-section__follow-item {
              margin-right: 9px; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__privacy {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 61px; }
            .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__privacy .footer-section__privacy-item {
              white-space: nowrap; }
              .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__privacy .footer-section__privacy-item a {
                color: #c6c6c6;
                font-family: "Apercu Light";
                font-size: 12px;
                line-height: 1.5; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__address,
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__connection a {
            color: #7b8287;
            font-family: "Apercu Light";
            font-size: 12px; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__address {
            line-height: 1.6;
            max-width: 114px; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__connection {
            display: flex;
            flex-direction: column; }
            .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__connection .footer-section__connection a {
              line-height: 2; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__privacy a:hover,
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__connection a:hover {
            color: #525759; }
          .footer-section .footer-section__container .footer-section__row .col-3 .footer-section__item .footer-section__navigation a:hover {
            color: #7b8287; }
      .footer-section .footer-section__container .footer-section__row .text-right {
        text-align: right;
        text-align: -webkit-right; }
    .footer-section .footer-section__container a:hover path {
      color: #525759;
      fill: #525759; }
    .footer-section .footer-section__container .digital-logo {
      position: absolute;
      right: 0; }

.bookmark__promo-section {
  position: relative;
  min-height: 100vh; }
  @media screen and (max-width: 540px) {
    .bookmark__promo-section .col {
      width: 100%;
      text-align: center; } }
  .bookmark__promo-section .bookmark__promo-section__col {
    max-height: 100vh; }
    .bookmark__promo-section .bookmark__promo-section__col h1 {
      color: #525759;
      transition: font-size .9s ease; }
      @media screen and (max-width: 1240px) {
        .bookmark__promo-section .bookmark__promo-section__col h1 {
          font-size: 2em; } }
      @media screen and (max-width: 540px) {
        .bookmark__promo-section .bookmark__promo-section__col h1 {
          font-size: 1.5em; } }
    .bookmark__promo-section .bookmark__promo-section__col ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 8px; }
      .bookmark__promo-section .bookmark__promo-section__col ul li {
        color: #cbbcb8;
        font-size: 16px;
        letter-spacing: .4rem;
        text-transform: uppercase; }
        @media screen and (max-width: 540px) {
          .bookmark__promo-section .bookmark__promo-section__col ul li {
            color: #525759; } }
      .bookmark__promo-section .bookmark__promo-section__col ul li:after {
        content: '|';
        padding-right: 8px;
        padding-left: 8px; }
      .bookmark__promo-section .bookmark__promo-section__col ul li:last-of-type:after {
        content: ''; }
  .bookmark__promo-section .about-bookmark__promo-section__col:first-child {
    background: url("img/scott-webb-258760-unsplash.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh; }
    .bookmark__promo-section .about-bookmark__promo-section__col:first-child:before {
      content: '';
      position: absolute;
      background-color: rgba(255, 255, 255, 0.2);
      height: 100vh;
      width: 100%; }
      @media screen and (max-width: 540px) {
        .bookmark__promo-section .about-bookmark__promo-section__col:first-child:before {
          background-color: transparent; } }
  .bookmark__promo-section .blog-bookmark__promo-section__col:first-child {
    background: url("img/imani-clovis-23005-unsplash.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh; }
    .bookmark__promo-section .blog-bookmark__promo-section__col:first-child:before {
      content: '';
      position: absolute;
      background-color: rgba(255, 255, 255, 0.2);
      height: 100vh;
      width: 100%; }
      @media screen and (max-width: 540px) {
        .bookmark__promo-section .blog-bookmark__promo-section__col:first-child:before {
          background-color: transparent; } }
  .bookmark__promo-section .recipes-bookmark__promo-section__col:first-child {
    background: url("img/alexandra-golovac-781073-unsplash.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh; }
    .bookmark__promo-section .recipes-bookmark__promo-section__col:first-child:before {
      content: '';
      position: absolute;
      background-color: rgba(255, 255, 255, 0.2);
      height: 100vh;
      width: 100%; }
      @media screen and (max-width: 540px) {
        .bookmark__promo-section .recipes-bookmark__promo-section__col:first-child:before {
          background-color: transparent; } }
  .bookmark__promo-section .contact-bookmark__promo-section__col:first-child {
    background: url("img/haley-phelps-119782-unsplash.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh; }
    .bookmark__promo-section .contact-bookmark__promo-section__col:first-child:before {
      content: '';
      position: absolute;
      background-color: rgba(255, 255, 255, 0.2);
      height: 100vh;
      width: 100%; }
      @media screen and (max-width: 540px) {
        .bookmark__promo-section .contact-bookmark__promo-section__col:first-child:before {
          background-color: transparent; } }
  .bookmark__promo-section .bookmark__promo-section__col:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: background-color .9s ease; }
    @media screen and (max-width: 1224px) {
      .bookmark__promo-section .bookmark__promo-section__col:last-child {
        width: 100%;
        position: absolute;
        min-height: 20%;
        top: 50%;
        transform: translate(0, -50%);
        background-color: rgba(255, 255, 255, 0.8); } }

.article-section {
  padding-top: 200px;
  padding-bottom: 150px;
  background-color: #ffffff; }
  .article-section .article-section__container {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 948px) {
      .article-section .article-section__container .article-section__row .col {
        width: 80%; } }
    .article-section .article-section__container .article-section__row:first-child {
      margin-bottom: 157px; }
      @media screen and (max-width: 948px) {
        .article-section .article-section__container .article-section__row:first-child {
          flex-direction: column-reverse; } }
      .article-section .article-section__container .article-section__row:first-child .article-section__col {
        display: flex;
        justify-content: flex-end; }
        @media screen and (max-width: 948px) {
          .article-section .article-section__container .article-section__row:first-child .article-section__col {
            justify-content: center; } }
    @media screen and (max-width: 948px) {
      .article-section .article-section__container .article-section__row {
        flex-direction: column; } }
    .article-section .article-section__container .article-section__row .article-section__col {
      align-self: center; }
      .article-section .article-section__container .article-section__row .article-section__col img {
        max-width: 869px; }
      .article-section .article-section__container .article-section__row .article-section__col .article-section_text-wrapper {
        max-width: calc(495px + 20%);
        padding: 10%; }
        @media screen and (max-width: 948px) {
          .article-section .article-section__container .article-section__row .article-section__col .article-section_text-wrapper {
            width: 100%; } }

.blog-section {
  padding: 130px 30px; }
  .blog-section .blog-section__container {
    max-width: 1290px; }
    .blog-section .blog-section__container .blog-section__switches {
      display: flex;
      justify-content: center;
      padding-bottom: 70px;
      border-bottom: 1px solid #cbbcb8; }
      .blog-section .blog-section__container .blog-section__switches li {
        padding-right: 22px; }
        .blog-section .blog-section__container .blog-section__switches li:last-child {
          padding-right: 0; }
        .blog-section .blog-section__container .blog-section__switches li a {
          color: #a2a9b0;
          font-family: "Apercu Light";
          font-size: 16px;
          letter-spacing: .03rem;
          line-height: 2;
          display: block; }
    .blog-section .blog-section__container h2 {
      margin-top: 105px;
      margin-bottom: 95px; }
    .blog-section .blog-section__container .blog-section__articles-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media screen and (max-width: 948px) {
        .blog-section .blog-section__container .blog-section__articles-wrapper {
          flex-direction: column; } }
      .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item {
        width: calc(100%/2 - 40px);
        margin-bottom: 65px; }
        @media screen and (max-width: 948px) {
          .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item {
            width: 100%; } }
        .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item img {
          opacity: .8; }
        .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item .blog-section__article-item_description {
          margin-top: 25px;
          font-family: "Apercu Light";
          letter-spacing: .03rem; }
          .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item .blog-section__article-item_description small {
            display: block;
            color: #cbbcb8;
            font-size: 10px;
            line-height: 2.5;
            margin-bottom: 19px; }
            .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item .blog-section__article-item_description small strong {
              color: #7b8287; }
          .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item .blog-section__article-item_description h5 {
            color: #525759;
            font-size: 20px;
            margin-bottom: 20px; }
          .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item .blog-section__article-item_description p {
            color: #7b8287;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px; }
        .blog-section .blog-section__container .blog-section__articles-wrapper .blog-section__article-item a {
          color: #a2a9b0;
          font-size: 12px;
          letter-spacing: .25rem;
          line-height: 2.3;
          text-transform: uppercase; }
    .blog-section .blog-section__container .blog-detail__article-wrapper small {
      display: block;
      color: #cbbcb8;
      font-size: 10px;
      line-height: 2.5;
      margin-bottom: 19px; }
      .blog-section .blog-section__container .blog-detail__article-wrapper small strong {
        color: #7b8287; }
    .blog-section .blog-section__container .blog-detail__article-wrapper .blog-detail__article-rubric h5 {
      margin-top: 60px;
      color: #525759; }
    .blog-section .blog-section__container .blog-detail__article-wrapper .blog-detail__article-rubric p {
      font-size: 16px;
      margin-bottom: 25px; }
    .blog-section .blog-section__container .blog-detail__article-wrapper .blog-detail__article-rubric img {
      margin-top: 55px;
      opacity: .8; }
    .blog-section .blog-section__container .blog-detail__article-wrapper .blog-detail__article-wrapper_share-links {
      display: flex;
      width: 150px;
      justify-content: space-between;
      margin-bottom: 51px; }
      .blog-section .blog-section__container .blog-detail__article-wrapper .blog-detail__article-wrapper_share-links svg {
        width: 27px; }
      .blog-section .blog-section__container .blog-detail__article-wrapper .blog-detail__article-wrapper_share-links a:hover path {
        fill: #7b8287; }

.recipes-bookmark__articles-section {
  padding: 130px 30px 180px; }
  .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container {
    max-width: 1260px; }
    .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container h2 {
      margin-top: 105px;
      margin-bottom: 95px; }
    .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper .recipes-bookmark__articles-section_recipes-item {
        width: calc(100% / 3 - 40px);
        margin-bottom: 35px;
        position: relative; }
        @media screen and (max-width: 1240px) {
          .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper .recipes-bookmark__articles-section_recipes-item {
            width: calc(100% / 2 - 40px); } }
        @media screen and (max-width: 769px) {
          .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper .recipes-bookmark__articles-section_recipes-item {
            width: 100%; } }
        .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper .recipes-bookmark__articles-section_recipes-item img {
          opacity: .8;
          min-height: 100%;
          object-fit: cover; }
        .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper .recipes-bookmark__articles-section_recipes-item .recipes-bookmark__articles-section_recipes-item_description {
          position: absolute;
          top: auto;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.8);
          min-height: 211px;
          padding: 3% 8%;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper .recipes-bookmark__articles-section_recipes-item .recipes-bookmark__articles-section_recipes-item_description h5 {
            color: #525759;
            font-size: 16px;
            letter-spacing: .03rem;
            margin-bottom: 20px; }
          .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper .recipes-bookmark__articles-section_recipes-item .recipes-bookmark__articles-section_recipes-item_description p {
            font-size: 13px;
            line-height: 1.5; }
          .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .recipes-bookmark__articles-section_recipes-wrapper .recipes-bookmark__articles-section_recipes-item .recipes-bookmark__articles-section_recipes-item_description a {
            color: #a2a9b0;
            font-size: 12px;
            letter-spacing: .25rem;
            line-height: 2.3;
            text-transform: uppercase; }
    .recipes-bookmark__articles-section .recipes-bookmark__articles-section__container .pagination_btn {
      margin-top: 100px; }

.detail__title {
  color: #7b8287;
  font-size: 14px;
  letter-spacing: .03rem;
  line-height: 1.8;
  margin-top: 23px;
  margin-bottom: 20px;
  display: block; }

.blog-detail .blog-detail__intro {
  width: 100vw;
  height: 50vh;
  background: url("img/rawpixel-602145-unsplash.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  .blog-detail .blog-detail__intro:before {
    content: '';
    position: absolute;
    background-color: #525759;
    opacity: .2;
    height: 50vh;
    width: 100%;
    overflow: hidden; }
.blog-detail .blog-detail__tags {
  padding: 0 30px;
  max-width: 1290px;
  border-bottom: 1px solid #cbbcb8;
  border-top: 1px solid #cbbcb8;
  min-height: 86px;
  display: flex;
  align-items: center;
  margin-bottom: 144px; }
  .blog-detail .blog-detail__tags .blog-detail__tags-links {
    display: flex; }
    .blog-detail .blog-detail__tags .blog-detail__tags-links li {
      padding-left: 7px;
      padding-right: 7px; }
      .blog-detail .blog-detail__tags .blog-detail__tags-links li a {
        color: #a2a9b0;
        font-size: 12px;
        letter-spacing: 0.03px;
        line-height: 1.2;
        text-transform: uppercase;
        padding: 7px;
        border: 1px solid #cbbcb8;
        border-radius: 14px; }
        .blog-detail .blog-detail__tags .blog-detail__tags-links li a:hover {
          background-color: #cbbcb8;
          color: #ffffff; }
.blog-detail .blog-detail__more-articles {
  padding: 0 30px;
  max-width: 1290px;
  margin-bottom: 144px; }
  .blog-detail .blog-detail__more-articles h2 {
    margin-bottom: 55px; }
  .blog-detail .blog-detail__more-articles .blog-detail__more-articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (max-width: 948px) {
      .blog-detail .blog-detail__more-articles .blog-detail__more-articles-wrapper {
        flex-direction: column; } }
    .blog-detail .blog-detail__more-articles .blog-detail__more-articles-wrapper .blog-detail__more-articles_item {
      width: calc(100% / 2 - 40px);
      margin-bottom: 65px;
      position: relative; }
      @media screen and (max-width: 948px) {
        .blog-detail .blog-detail__more-articles .blog-detail__more-articles-wrapper .blog-detail__more-articles_item {
          width: 100%; } }
      .blog-detail .blog-detail__more-articles .blog-detail__more-articles-wrapper .blog-detail__more-articles_item img {
        opacity: .8; }
      .blog-detail .blog-detail__more-articles .blog-detail__more-articles-wrapper .blog-detail__more-articles_item .blog-detail__more-articles_item-title {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        min-height: 165px;
        padding: 5%; }
        .blog-detail .blog-detail__more-articles .blog-detail__more-articles-wrapper .blog-detail__more-articles_item .blog-detail__more-articles_item-title h5 {
          color: #525759;
          font-size: 20px;
          letter-spacing: .03rem;
          margin-bottom: 40px; }
        .blog-detail .blog-detail__more-articles .blog-detail__more-articles-wrapper .blog-detail__more-articles_item .blog-detail__more-articles_item-title a {
          color: #a2a9b0;
          font-size: 12px;
          letter-spacing: .25rem;
          line-height: 2.3;
          text-transform: uppercase; }

.recipes-detail .recipes-detail__intro {
  width: 100vw;
  height: 50vh;
  background: url("img/bg-rec.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  .recipes-detail .recipes-detail__intro:before {
    content: '';
    position: absolute;
    background-color: #525759;
    opacity: .2;
    height: 50vh;
    width: 100%;
    overflow: hidden; }
.recipes-detail .recipes-detail__section {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 170px;
  padding-bottom: 130px; }
  .recipes-detail .recipes-detail__section .recipes-detail__container {
    max-width: 1290px; }
    .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row:first-of-type {
        margin-bottom: 84px;
        border-bottom: 1px solid #cbbcb8;
        padding-bottom: 50px; }
        @media screen and (max-width: 769px) {
          .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row:first-of-type {
            margin-bottom: 21px; } }
      .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col {
        width: calc(100% / 2 - 40px); }
        @media screen and (max-width: 1240px) {
          .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col {
            width: calc(100% / 2 - 20px); } }
        @media screen and (max-width: 769px) {
          .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col {
            width: 100%; } }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col h2 {
          max-width: 613px;
          margin-bottom: 46px; }
          @media screen and (max-width: 769px) {
            .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col h2 {
              margin-top: 21px; } }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col h4 {
          color: #7b8287;
          font-family: "Chronicle Display Roman";
          font-size: 20px;
          letter-spacing: .4rem;
          line-height: 1.1;
          text-transform: uppercase;
          margin-bottom: 36px; }
          @media screen and (max-width: 1240px) {
            .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col h4 {
              margin-top: 21px; } }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .title {
          color: #cbbcb8;
          font-size: 16px;
          line-height: 1.5;
          display: block;
          margin-bottom: 50px; }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col p {
          color: #525759;
          line-height: 1.5;
          margin-bottom: 131px; }
          @media screen and (max-width: 1240px) {
            .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col p {
              margin-bottom: 61px; } }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_cook-info {
          display: flex;
          justify-content: space-around;
          position: relative;
          border-top: 1px solid #cbbcb8;
          padding-top: 10%; }
          .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_cook-info li {
            text-align: center;
            font-size: 16px;
            line-height: 2; }
            .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_cook-info li .cook-info__title {
              display: block;
              color: #525759; }
            .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_cook-info li small {
              color: #7b8287; }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_ingredients,
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_method {
          color: #525759;
          font-family: "Apercu Light";
          font-size: 16px; }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_ingredients {
          line-height: 2.1;
          max-width: 408px; }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_method {
          line-height: 1.4; }
          .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col .recipes-detail__article_method li {
            padding-bottom: 20px; }
        .recipes-detail .recipes-detail__section .recipes-detail__container .recipes-detail__article-wrapper .row .col img {
          max-width: 520px; }
.recipes-detail .recipes-detail__article-wrapper_share-links {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-bottom: 51px; }
  .recipes-detail .recipes-detail__article-wrapper_share-links svg {
    width: 27px; }
  .recipes-detail .recipes-detail__article-wrapper_share-links a:hover path {
    fill: #7b8287; }
.recipes-detail .recipes-detail__more-articles {
  padding: 0 30px;
  max-width: 1290px;
  margin-bottom: 144px; }
  .recipes-detail .recipes-detail__more-articles h2 {
    margin-bottom: 55px; }
  .recipes-detail .recipes-detail__more-articles .recipes-detail__more-articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .recipes-detail .recipes-detail__more-articles .recipes-detail__more-articles-wrapper .recipes-detail__more-articles_item {
      width: calc(100% / 2 - 40px);
      margin-bottom: 65px;
      position: relative; }
      @media screen and (max-width: 948px) {
        .recipes-detail .recipes-detail__more-articles .recipes-detail__more-articles-wrapper .recipes-detail__more-articles_item {
          width: 100%; } }
      .recipes-detail .recipes-detail__more-articles .recipes-detail__more-articles-wrapper .recipes-detail__more-articles_item img {
        opacity: .8;
        max-height: 360px;
        object-fit: cover; }
      .recipes-detail .recipes-detail__more-articles .recipes-detail__more-articles-wrapper .recipes-detail__more-articles_item .recipes-detail__more-articles_item-title {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        min-height: 165px;
        padding: 5%; }
        .recipes-detail .recipes-detail__more-articles .recipes-detail__more-articles-wrapper .recipes-detail__more-articles_item .recipes-detail__more-articles_item-title h5 {
          color: #525759;
          font-size: 20px;
          letter-spacing: .03rem;
          margin-bottom: 40px; }
        .recipes-detail .recipes-detail__more-articles .recipes-detail__more-articles-wrapper .recipes-detail__more-articles_item .recipes-detail__more-articles_item-title a {
          color: #a2a9b0;
          font-size: 12px;
          letter-spacing: .25rem;
          line-height: 2.3;
          text-transform: uppercase; }

.contact-form__section {
  min-height: 974px;
  position: relative;
  background-color: #ffffff;
  padding-top: 257px; }
  .contact-form__section .contact-form__section__container {
    padding: 0 30px;
    max-width: 1290px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 948px) {
      .contact-form__section .contact-form__section__container {
        flex-direction: column; } }
    .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper {
      width: calc(100% / 2 - 40px); }
      @media screen and (max-width: 948px) {
        .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper {
          width: 100%; } }
      .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper h2 {
        margin-bottom: 42px; }
      .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section_form-wrapper {
        display: flex;
        flex-direction: column; }
        .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section_form-wrapper input,
        .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section_form-wrapper textarea {
          border: 1px solid #cbbcb8;
          font-family: "Apercu Light";
          background-color: transparent;
          min-height: 47px;
          color: #7b8287;
          padding: 12px 16px;
          font-size: 16px;
          line-height: 1.75;
          margin-bottom: 21px; }
        .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section_form-wrapper textarea {
          height: 138px; }
        .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section_form-wrapper button {
          text-align: left; }
      .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper {
        margin-bottom: 84px; }
        .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__contact-wrapper_address {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__contact-wrapper_address p {
            max-width: 200px; }
          .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__contact-wrapper_address a {
            color: #525759;
            margin-bottom: 13px;
            display: block; }
            .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__contact-wrapper_address a:hover {
              color: #a2a9b0; }
        .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__follow {
          display: flex; }
          .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__follow .contact-form__section__follow-item {
            margin-right: 15px; }
            .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__follow .contact-form__section__follow-item svg {
              width: 27px;
              height: auto; }
            .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__follow .contact-form__section__follow-item li {
              height: 27px; }
            .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__follow .contact-form__section__follow-item a {
              vertical-align: middle;
              color: #525759; }
              .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__follow .contact-form__section__follow-item a:hover, .contact-form__section .contact-form__section__container .contact-form__section__col-wrapper .contact-form__section__contact-wrapper .contact-form__section__follow .contact-form__section__follow-item a:hover path {
                color: #a2a9b0;
                fill: #525759; }

.map-section {
  position: relative;
  width: 100vw;
  height: auto; }

/*# sourceMappingURL=style.css.map */
