@font-face {
  font-family: "Apercu Light";
  src: url("/fonts/Apercu Light.otf") format("otf");
}
@font-face {
  font-family: "Chronicle Display Roman";
  src: url("/fonts/Chronicle Display Roman.otf") format("otf");
}
@font-face {
  font-family: "Verlag-Book";
  src: url("/fonts/Verlag-Book.otf") format("otf");
}
@font-face {
  font-family: "ApercuPro";
  src: url("/fonts/ApercuPro.ttf") format("ttf");
}

$base-gray-text: #525759;
$base-white: #ffffff;
$base-white-trans: rgba(255,255,255,.2);
$base-white-bg: rgba(255,255,255,.8);
$base-border: #c6c6c6;
$base-gray-links: #7b8287;
$base-lightgray: #a2a9b0;
$base-decor: #cbbcb8;
$mobile: 320px;
$tablet: 769px;
$desktop: 1240px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
body {
  font-family: "Apercu Light", sans-serif;
  overflow-x: hidden;
  a {
    text-decoration: none;
    background-color: transparent;
  }
  ul,
  li {
    list-style: none;
  }
  a:hover {
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  address {
    font-style: normal;
    color: #525759;
    font-family: "Apercu Light";
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
  }
  img {
    position: relative;
    vertical-align: middle;
    border-style: none;
    width: 100%;
  }
  button:focus,
  a:focus,
  input:focus {
    outline: 0;
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
  }
  button {
    border-radius: 0;
    background: none;
    border: 0;
    cursor: pointer;
  }
  textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none!important;
  }
  .nav-btn {
    color: $base-gray-text;
    font-size: 16px;
    line-height: 2.2;
    text-transform: uppercase;
  }
  .pagination_btn {
    display: flex;
    justify-content: center;
  }
  .btn-primary {
    color: $base-decor;
    font-family: "Verlag-Book";
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .25rem;
    line-height: 2.3;
  }
  .btn {
    position: relative;
    display: inline-block;
    transition: all .5s;
    &,
    &::after,
    &::before {
      transition: all .5s;
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: $base-lightgray;
      height: 1px;
    }
    &:hover::after{
      width: 100%;
    }
  }
  .container {
    max-width: 1920px;
    margin: 0 auto;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }
  .col {
    position: relative;
    width: calc(100% /2);
  }
  .col:only-of-type {
    width: 100%;
  }
  h1 {
    font-size: 40px;
    font-family: "Chronicle Display";
    letter-spacing: .4rem;
    color: $base-white;
    text-transform: uppercase;
    @media screen and (max-width: $mobile) {
      font-size: 22px;
    }
  }
  h2 {
    font-size: 30px;
    font-family: "Chronicle Display Roman";
    letter-spacing: .4rem;
    color: $base-gray-text;
    text-transform: uppercase;
    @media screen and (max-width: $mobile) {
      font-size: 18px;
    }
  }
  p {
    font-size: 16px;
    font-family: "Apercu Light";
    line-height: 1.75;
    color: $base-lightgray;
    margin-bottom: 20px;
    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }
  }
  .slick-initialized,
  .slick-slider,
  .slick-list,
  .slick-draggable,
  .slick-slide {
    outline: none!important;
  }

}







.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100vw;
  z-index: 99999;
  background-image: linear-gradient(180deg, rgba(198, 198, 198, .39) 0%, rgba(238, 234, 234, 0) 100%);
  .header-section__container {
    padding-left: 64px;
    padding-right: 64px;
    @media screen and (max-width: $tablet) {
      padding-left: 30px;
      padding-right: 30px;
    }
    .header-section__row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      min-height: 155px;
      .nav-bar_toggler {
        z-index: 999;
        cursor: pointer;
        position: relative;
        display: none;
        @media screen and (max-width: $desktop) {
        display: block;
        }
        height: 40px;
        width: 40px;
        border-radius: 2px;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: #7b8287;
        }

        .nav-bar_toggler-icon {
          content: '';
          height: 2px;
          width: 27px;
          background-color: #ffffff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: background-color .5s ease;

          &::before{
            content: '';
            height: 2px;
            width: 27px;
            background-color: #ffffff;
            position: absolute;
            top: -10px;
            transition: .5s ease;
            }
          &::after {
            content: '';
            height: 2px;
            width: 27px;
            background-color: #ffffff;
            position: absolute;
            top: 10px;
            transition: .5s ease;
          }

        }
        .active-nav-bar{
          background-color: transparent;
          &::before {
            transform: rotate(45deg);
            top: 0;
            background-color: $base-gray-text;
          }
          &::after {
            transform: rotate(-45deg);
            top: 0;
            background-color: $base-gray-text;
          }
        }



      }

    .header-section__brand-logo {
      max-width: 435px;
      padding-right: 10px;
      @media screen and (max-width: $tablet) {
        max-width: 235px;
      }
    }
      .header-section__navigation-wrapper{
        align-items: center;
        display: block;

        @media screen and (max-width: $desktop) {
          display: none;
        }

        .header-section__navigation {
          display: flex;
          flex-wrap: wrap;
          color: $base-gray-text;
          font-family: "Chronicle Display Roman";
          font-size: 16px;
          letter-spacing: .4rem;
          li {
            padding-left: 43px;
          }
        }
      }
      .open {
        display: none;
        &.open-menu {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: auto;
          background-color: rgba(255,255,255,.9);
          width: 100vw;
          height: 100vh;

          ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            mix-blend-mode: difference;

          }
        }
      }

    }
  }

}

.scrolled{
  background-image: linear-gradient(180deg, rgb(149, 149, 149) 0%, rgba(238, 234, 234, .5) 100%);
}
.hero-section {
  .slick-slide{
    background-image: linear-gradient(to bottom, rgba(82,87,89,0.2) 0%, rgba(82,87,89,0.2) 100%), url("img/aditya-saxena-410663-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }
  .hero-section__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10%;
    
    .hero-section__caption {
        h1 {
          text-align: center;
        }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 8px;
        li {
          color: $base-white;
          font-size: 16px;
          letter-spacing: .4rem;
          text-transform: uppercase;
        }
        li:after {
          content: '|';
          padding-right: 8px;
          padding-left: 8px;
        }
        li:last-of-type:after {
          content: '';
        }
      }
  }
  }
  .slick-arrow {
    position: absolute;
    bottom: 88px;
    right: 10%;
    z-index: 100;
    transform: translateY(-10%);
    padding: 0;
    overflow: hidden;
    font-size: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: opacity .25s ease-in-out;
    &:hover {
      opacity: .5;
    }
  }
  .slick-next {
    background-image: url("img/next.svg");
  }
  .slick-prev {
    background-image: url("img/prev.svg");
    margin-right: 50px;
  }
  .slick-dots {
    position: absolute;
    transform: translateY(-100%);
    display: flex;
    bottom: 100px;
    left: 10%;
    z-index: 100;
    padding: 0;
    font-size: 0;
    li:hover button:before {
      background-color: $base-border;
    }
    button:before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: $base-gray-text;
      border-radius: 50%;
      display: inline-block;
      margin-right: 17px;
      overflow: hidden;
      cursor: pointer;
      outline: none;
      transition: background-color .25s ease-in-out;
    }
    .slick-active button:before {
      background-color: $base-white;
    }
    button {
      font-size: 0;
    }

  }

}
.intro-section {
  position: relative;
  min-height: 80vh;
  background-color: $base-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  .intro-section__container {

    max-width: 624px;
    text-align: center;
    h2 {
      margin-bottom: 65px;
    }
    p {
      margin-bottom: 59px;
    }
  }
}
.breathe-section {
  position: relative;
  background: url("img/averie-woodard-205419-unsplash.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(82,87,89,.1);
    z-index: 1;
  }
  .breathe-section__container {
    max-width: 475px;
    margin-left: 60%;
    @media screen and (max-width: $desktop) {
      margin-left: 40%;
    }
    @media screen and (max-width: $tablet) {
      margin-left: 0;
      max-width: 100%;
    }

    padding: 20px;
    z-index: 10;
    h2,
    p {
      color: $base-white;
    }
    h2 {
      font-size: 35px;
      line-height: 1.4;
      margin-bottom: 54px;
      @media screen and (max-width: $mobile) {
        font-size: 20px;
      }
    }
  }
}
.time-section {
  position: relative;
  min-height: 90vh;
  background-color: $base-white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 83px;
  padding-top: 83px;
  .time-section__container {
    width: 1920px;
    .time-section__article {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media screen and (max-width: $desktop) {
        flex-wrap: wrap;
        justify-content: center;
      }
      .col {
        @media screen and (max-width: $desktop) {
          width: 100%;
        }
        .col:only-of-type {
          width: 100%;
        }

      }

      .time-section__article-description {
        max-width: 609px;
        margin-right: 5%;
        padding: 20px;
        h2 {
          margin-bottom: 50px;
        }
        p {
          color: $base-lightgray;
        }
      }
      .time-section__article-img {
        position: relative;
        img {
          @media screen and (max-width: $desktop) {
            max-height: 400px;
            object-fit: cover;
            object-position: 50% 20%;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: $base-white-trans;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
      }

    }
  }
}
.recipes-section {
  .recipes-section__container {
    .slick-slider {
      .slick-arrow {
        position: absolute;
        padding: 0;
        overflow: hidden;
        font-size: 0;
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 34px;
        margin-bottom: 114px;
        li:hover button:before {
          background-color: $base-gray-text;
        }
        button:before {
          content: '';
          width: 8px;
          height: 8px;
          background-color: $base-lightgray;
          border-radius: 50%;
          display: inline-block;
          margin-right: 17px;
          overflow: hidden;
          cursor: pointer;
          outline: none;
          transition: background-color .25s ease-in-out;

        }
        .slick-active button:before {
          background-color: $base-border;
        }
        button {
          font-size: 0;
        }
      }
    }

    .recipes-section__item {
      padding: 0 18px;
      position: relative;
      @media screen and (max-width: $desktop) {
        min-height: 385px;
      }
      img {
        min-height: 385px;
        object-fit: cover;
      }
      .recipes-section__item-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $base-white-bg;
        text-align: center;
        min-width: 80%;
        min-height: 319px;
        padding: 8%;
        .title {
          color: $base-decor;
          font-size: 12px;
          letter-spacing: .25rem;
          line-height: 2.3;
          text-transform: uppercase;
          display: block;
          margin-bottom: 31px;
        }
        .recipes-section__item-title_recipe-name {
          color: $base-gray-text;
          font-family: "Chronicle Display Roman";
          font-size: 30px;
          letter-spacing: .03rem;
          line-height: 1.3;
          text-transform: uppercase;
          margin-bottom: 39px;
          display: block;
        }
      }
    }

  }

}
.quote-section {
  background: url("img/alexandre-chambon-140035-unsplash_(1).jpg") no-repeat center;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .quote-section__container {
    max-width: 723px;
    padding: 0 30px;
   .quote-section__item {
     position: relative;
     &::before {
       content: url("img/quote.svg");
       display: block;
       margin-bottom: 112px;


     }

     p {
       margin-bottom: 57px;
       color: $base-white;
       font-family: "Apercu Light";
       font-size: 22px;
       font-weight: 300;
       line-height: 1.59;
       &::before{
         content: '\201C';
         font-family: "Apercu Light";
       }
       &::after {
         content: '\201D';
         font-family: "Apercu Light";

       }

     }
     cite {
       font-style: normal;
       color: $base-white;
       font-family: "Verlag-Book";
       font-size: 16px;
       font-weight: 300;
       letter-spacing: .25rem;
       text-transform: uppercase;
     }
   }

  }
}
.consultation-section {
  min-height: 70vh;
  background: url("img/247-layers.png") no-repeat center;
  display: flex;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-color: $base-white-bg;
    width: 100%;
    min-height: 70vh;
  }
  .consultation-section__container {
    z-index: 1;
    width: 1290px;
    padding: 0 30px;
  }
  .consultation-section__caption {
    background-color: $base-white;
    min-height: 319px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
    }
    .consultation-section__caption-title {
      h2 {
        margin-bottom: 55px;
      }

      p {
        max-width: 654px;
      }
    }
      a {
        display: block;
      }
  }
}
.footer-section {
  padding: 55px 30px 35px;
  min-height: 285px;
  background-color: $base-white;
  width: 100%;
  border-top: 2px solid $base-border;
  display: flex;
  flex-wrap: wrap;
  .footer-section__container {
    width: 1290px;
    position: relative;
    .footer-section__row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .col-3 {
        width: calc(100% / 3 - 20px);
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
          display: block;
          width: 100%;
          text-align: center;
        }
        &:first-child {
          @media screen and (max-width: 1024px) {
            order: 1;
          }
        }
        &:nth-child(2){
          justify-content: center;
          img {
            max-width: 215px;
          }

        }
        &:last-child {
          @media screen and (max-width: 1024px) {
            order: 2;
          }
        }



  .footer-section__item {
    padding: 10px;
    @media screen and (max-width: 1024px) {
      max-width: 250px;
      margin: 0 auto;
    }


    .footer-section__title {
      color: $base-gray-text;
      font-family: "Chronicle Display Roman";
      font-size: 14px;
      letter-spacing: .3rem;
      line-height: 1.78;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .footer-section__navigation li a {
      color: $base-gray-text;
      font-family: "Apercu Light";
      font-size: 14px;
      letter-spacing: .03rem;
      line-height: 1.78;
      transition: font-size .3s ease;
    }

    .footer-section__follow {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
        justify-content: center;
      }

      .footer-section__follow-item {
        margin-right: 9px;
      }
    }

    .footer-section__privacy {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 61px;

      .footer-section__privacy-item {
        white-space: nowrap;

        a {
          color: $base-border;
          font-family: "Apercu Light";
          font-size: 12px;
          line-height: 1.5;
        }
      }
    }

    .footer-section__address,
    .footer-section__connection a {
      color: $base-gray-links;
      font-family: "Apercu Light";
      font-size: 12px;

    }

    .footer-section__address {
      line-height: 1.6;
      max-width: 114px;
      font-style: normal;
      @media screen and (max-width: 1024px) {
        margin: 0 auto;
      }
    }
    .footer-section__connection {
      display: flex;
      flex-direction: column;
      .footer-section__connection a {
        line-height: 2;

      }
    }


    .footer-section__privacy a:hover,
    .footer-section__connection a:hover {
      color: $base-gray-text;
    }

    .footer-section__navigation a:hover {
      color: $base-gray-links;
    }
  }
}
    }
    & a:hover path{
      color: $base-gray-text;
      fill: $base-gray-text;
    }
    .digital-logo {
      position: absolute;
      right: 0;
    }

  }

}
.bookmark__promo-section {
  position: relative;
  min-height: 100vh;
  .col {
    @media screen and (max-width: 540px) {
      width: 100%;
      text-align: center;
    }
  }
  .bookmark__promo-section__col {

    max-height: 100vh;
    h1 {
      color: $base-gray-text;
      transition: font-size .9s ease;
      @media screen and (max-width: $desktop) {
        font-size: 2em;
      }
      @media screen and (max-width: 540px) {
        font-size: 1.5em;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 8px;

      li {
        color: $base-decor;
        font-size: 16px;
        letter-spacing: .4rem;
        text-transform: uppercase;
        @media screen and (max-width: 540px) {
          color: $base-gray-text;
          font-size: 14px;
        }
      }
      li:after {
        content: '|';
        padding-right: 8px;
        padding-left: 8px;
      }
      li:last-of-type:after {
        content: '';
      }
    }

  }
  //
  //<---------------bookmark-sections images------------------->
  //

  .about-bookmark__promo-section__col:first-child{
    background: url("img/scott-webb-258760-unsplash.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    &:before {
      content: '';
      position: absolute;
      background-color: $base-white-trans;
      height: 100vh;
      width: 100%;
      @media screen and (max-width: 540px) {
        background-color: transparent;
      }
    }
  }
  .blog-bookmark__promo-section__col:first-child {
    background: url("img/imani-clovis-23005-unsplash.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    &:before {
      content: '';
      position: absolute;
      background-color: $base-white-trans;
      height: 100vh;
      width: 100%;
      @media screen and (max-width: 540px) {
        background-color: transparent;
      }
    }
  }
  .recipes-bookmark__promo-section__col:first-child{
      background: url("img/alexandra-golovac-781073-unsplash.jpg") no-repeat center;
      background-size: cover;
      min-height: 100vh;
      &:before {
        content: '';
        position: absolute;
        background-color: $base-white-trans;
        height: 100vh;
        width: 100%;
        @media screen and (max-width: 540px) {
          background-color: transparent;
        }
      }
  }
  .contact-bookmark__promo-section__col:first-child{
    background: url("img/haley-phelps-119782-unsplash.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    &:before {
      content: '';
      position: absolute;
      background-color: $base-white-trans;
      height: 100vh;
      width: 100%;
      @media screen and (max-width: 540px) {
        background-color: transparent;
      }
    }
  }
  //
  //<---------------bookmark-sections images------------------->
  //

  .bookmark__promo-section__col:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: background-color .9s ease;
    @media screen and (max-width: 1224px) {
      width: 100%;
      position: absolute;
      min-height: 20%;
      top: 50%;
      transform: translate(0, -50%);
      background-color: $base-white-bg;
    }
  }
}

.article-section {
  padding-top: 200px;
  padding-bottom: 150px;
  background-color: $base-white;
  .article-section__container {
    .article-section__row {
      margin-bottom: 157px;
      justify-content: flex-end;
      @media screen and (max-width: 1024px) {
        display: block;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &:nth-child(2n) {
        flex-direction: row-reverse;
        .article-section__col {
          &:first-of-type {
            margin: 0 auto;
          }
        }
      }
      &:nth-child(2n+1) {
        .article-section__col {
          &:last-of-type {
            padding-left: 30px;
          }
        }
      }

      .article-section__col {
        @media screen and (max-width: 1024px) {
          width: 100%;
          margin: 0 auto;
        }
        &:first-of-type {
          max-width: 705px;
          align-self: center;
          padding: 10px 30px;
        }
        &:last-of-type {
          max-width: 869px;
        }
        .article-section_text-wrapper {
          h2 {
            margin-bottom: 50px;
          }
          p {
            max-width: 445px;
            @media screen and (max-width: 1024px) {
              max-width: 100%;
            }
          }
        }

      }

    }
  }
}


.blog-section {
  padding: 130px 30px;
  .blog-section__container{
    max-width: 1290px;
    .blog-section__switches {
      display: flex;
      justify-content: center;
      padding-bottom: 70px;
      border-bottom: 1px solid $base-decor;
      li {
        padding-right: 22px;
        &:last-child {
            padding-right: 0;
          }
        a {
          color: $base-lightgray;
          font-family: "Apercu Light";
          font-size: 16px;
          letter-spacing: .03rem;
          line-height: 2;
          display: block;
        }
      }
    }
    h2 {
      margin-top: 105px;
      margin-bottom: 95px;
    }
    .blog-section__articles-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media screen and (max-width: 948px) {
        flex-direction: column;
      }
      .blog-section__article-item {
        width: calc(100%/2 - 40px);
        margin-bottom: 65px;
        @media screen and (max-width: 948px) {
          width: 100%;
        }
        img {
          opacity: .8;
          margin-bottom: 25px;
        }
        .blog-section__article-item_description {
          font-family: "Apercu Light";
          letter-spacing: .03rem;
          strong {
            display: block;
            color: $base-decor;
            font-size: 10px;
            line-height: 2.5;
            margin-bottom: 19px;
            b {
              color: $base-gray-links;
            }
          }
          h5 {
            color: $base-gray-text;
            font-size: 20px;
            margin-bottom: 20px;
          }
          p {
            color: $base-gray-links;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
          }
        }
        a {
          color: $base-lightgray;
          font-size: 12px;
          letter-spacing: .25rem;
          line-height: 2.3;
          text-transform: uppercase;
        }


      }
    }

    .blog-detail__article-wrapper {
      strong {
        display: block;
        color: $base-decor;
        font-size: 10px;
        line-height: 2.5;
        margin-bottom: 19px;
        b {
          color: $base-gray-links;
        }
      }
      p {
        margin-bottom: 55px;
      }

      .blog-detail__article-rubric {
        h5 {

          color: $base-gray-text;
        }
        p {
          font-size: 16px;
          margin-bottom: 25px;
        }
        img {
          opacity: .8;
          margin-bottom: 60px;
        }
      }

      .blog-detail__article-wrapper_share-links {
        display: flex;
        width: 150px;
        justify-content: space-between;
        margin-bottom: 51px;
        svg {
          width: 27px;
        }
        a:hover path {
          fill: $base-gray-links;
        }
      }
    }
  }
}
.recipes-bookmark__articles-section {
  padding: 130px 30px 180px;
  .recipes-bookmark__articles-section__container {
    max-width: 1260px;

    h2 {
      margin-top: 105px;
      margin-bottom: 95px;
      margin-left: 17px;
      @media screen and (max-width: $desktop) {
        margin-left: 10px;
      }
      @media screen and (max-width: $tablet) {
        margin-left: 0;
      }
    }
    .recipes-bookmark__articles-section_recipes-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .recipes-bookmark__articles-section_recipes-item {
        width: calc(100% / 3 - 39px);
        margin-bottom: 35px;
        position: relative;
        margin-right: 39px;
        &:nth-child(3n + 3) {
          margin-right: 0;
        }
        @media screen and (max-width: $desktop) {
          width: calc(100% / 2 - 20px);
          margin-right: 20px;
          &:nth-child(2n + 2) {
            margin-right: 0;
          }
        }
        @media screen and (max-width: $tablet) {
          width: 100%;
          margin-right: 0;
        }
        img {
          opacity: .8;
          min-height: 100%;
          object-fit: cover;
        }
        .recipes-bookmark__articles-section_recipes-item_description {
          position: absolute;
          top: auto;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $base-white-bg;
          min-height: 211px;
          padding: 3% 8%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          @media screen and (max-width: $mobile) {
            position: relative;
          }
          h5 {
            color: $base-gray-text;
            font-size: 16px;
            letter-spacing: .03rem;
            margin-bottom: 20px;
            @media screen and (max-width: 600px) {
              font-size: 16px;
              margin-bottom: 20px;
            }
          }
          p{
            font-size: 13px;
            line-height: 1.5;
          }
          a {
            color: $base-lightgray;
            font-size: 12px;
            letter-spacing: .25rem;
            line-height: 2.3;
            text-transform: uppercase;
          }
        }

      }

    }
    .pagination_btn {
      margin-top: 100px;
    }
  }
}
.detail__title {
  color: $base-gray-links;
  font-size: 14px;
  letter-spacing: .03rem;
  line-height: 1.8;
  margin-top: 23px;
  margin-bottom: 20px;
  display: block;
}
.blog-detail {
  .blog-detail__intro {
    width: 100vw;
    height: 50vh;
    background: url("img/rawpixel-602145-unsplash.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-color: $base-gray-text;
      opacity: .2;
      height: 50vh;
      width: 100%;
      overflow: hidden;
    }

  }
  .blog-detail__tags {
    padding: 0 30px;
    max-width: 1290px;
    border-bottom: 1px solid $base-decor;
    border-top: 1px solid $base-decor;
    min-height: 86px;
    display: flex;
    align-items: center;
    margin-bottom: 144px;
    .blog-detail__tags-links {
      display: flex;
      li {
        padding-left: 7px;
        padding-right: 7px;
        a {
          color: $base-lightgray;
          font-size: 12px;
          letter-spacing: 0.03px;
          line-height: 1.2;
          text-transform: uppercase;
          padding: 7px;
          border: 1px solid $base-decor;
          border-radius: 14px;
          &:hover {
            background-color: $base-decor;
            color: $base-white;
          }
        }
      }

    }
  }
  .blog-detail__more-articles {
    padding: 0 30px;
    max-width: 1290px;
    margin-bottom: 144px;
    h2 {
      margin-bottom: 55px;
    }
    .blog-detail__more-articles-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media screen and (max-width: 948px) {
        flex-direction: column;
      }
      .blog-detail__more-articles_item {
        width: calc(100% / 2 - 40px);
        @media screen and (max-width: 948px) {
          width: 100%;
        }
        margin-bottom: 65px;
        position: relative;
        img {
          opacity: .8;
        }
        .blog-detail__more-articles_item-title {
          position: absolute;
          top: auto;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $base-white-bg;
          min-height: 165px;
          padding: 5%;
          @media screen and (max-width: 600px) {
            position: relative;
          }
          h5 {
            color: $base-gray-text;
            font-size: 20px;
            letter-spacing: .03rem;
            margin-bottom: 40px;
            @media screen and (max-width: 600px) {
                font-size: 16px;
                margin-bottom: 20px;
            }
          }
          a {
            color: $base-lightgray;
            font-size: 12px;
            letter-spacing: .25rem;
            line-height: 2.3;
            text-transform: uppercase;
          }
        }
      }
    }

  }

}
.recipes-detail {
  .recipes-detail__intro {
    width: 100vw;
    height: 50vh;
    background: url("img/bg-rec.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-color: $base-gray-text;
      opacity: .2;
      height: 50vh;
      width: 100%;
      overflow: hidden;
    }

  }
  .recipes-detail__section {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 170px;
    padding-bottom: 130px;
    .recipes-detail__container {
      max-width: 1290px;
      .recipes-detail__article-wrapper .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:first-of-type {
          margin-bottom: 84px;
          border-bottom: 1px solid $base-decor;
          padding-bottom: 50px;
          @media screen and (max-width: $tablet) {
           margin-bottom: 21px;
          }
        }
        .col {
          width: calc(100% / 2 - 40px);
          @media screen and (max-width: $desktop) {
            width: calc(100% / 2 - 20px);
          }
          @media screen and (max-width: $tablet) {
            width: 100%;
          }
          h2 {
            max-width: 613px;
            margin-bottom: 46px;
            @media screen and (max-width: $tablet) {
              margin-top: 21px;
            }
          }
          h4 {
            color: $base-gray-links;
            font-family: "Chronicle Display Roman";
            font-size: 20px;
            letter-spacing: .4rem;
            line-height: 1.1;
            text-transform: uppercase;
            margin-bottom: 36px;
            @media screen and (max-width: $desktop) {
              margin-top: 21px;
            }
          }
          .title {
            color: $base-decor;
            font-size: 16px;
            line-height: 1.5;
            display: block;
            margin-bottom: 50px;
          }
          p {
            color: $base-gray-text;
            line-height: 1.5;
            &:last-of-type {
              margin-bottom: 131px;
            }
          }
          .recipes-detail__article_cook-info {
            display: flex;
            justify-content: space-around;
            position: relative;
            border-top: 1px solid $base-decor;
            padding-top: 10%;
            li {
              text-align: center;
              font-size: 16px;
              line-height: 2;
              .cook-info__title{
                display: block;
                color: $base-gray-text;
              }
              small {
                color: $base-gray-links;

              }
            }

          }
          .recipes-detail__article_ingredients,
          .recipes-detail__article_method {
            color: $base-gray-text;
            font-family: "Apercu Light";
            font-size: 16px;

          }
          .recipes-detail__article_ingredients {
            line-height: 2.1;
            max-width: 408px;
          }
          .recipes-detail__article_method {
            line-height: 1.4;


              li {
                list-style: decimal inside;
                padding-bottom: 20px;
              }


          }

          img {
            max-width: 520px;
          }
        }
      }
    }
  }
  .recipes-detail__article-wrapper_share-links {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-bottom: 51px;
    svg {
      width: 27px;
    }
    a:hover path {
      fill: $base-gray-links;
    }
  }
  .recipes-detail__more-articles {
    padding: 0 30px;
    max-width: 1290px;
    margin-bottom: 144px;
    h2 {
      margin-bottom: 55px;
    }
    .recipes-detail__more-articles-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .recipes-detail__more-articles_item {
        width: calc(100% / 2 - 40px);
        margin-bottom: 65px;
        position: relative;
        @media screen and (max-width: 948px) {
          width: 100%;
        }
        img {
          opacity: .8;
          max-height: 360px;
          object-fit: cover;
        }
        .recipes-detail__more-articles_item-title {
          position: absolute;
          top: auto;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $base-white-bg;
          min-height: 165px;
          padding: 5%;
          @media screen and (max-width: 600px) {
            position: relative;
          }
          h5 {
            color: $base-gray-text;
            font-size: 20px;
            letter-spacing: .03rem;
            margin-bottom: 40px;
            @media screen and (max-width: 600px) {
              font-size: 16px;
              margin-bottom: 20px;
            }
          }
          a {
            color: $base-lightgray;
            font-size: 12px;
            letter-spacing: .25rem;
            line-height: 2.3;
            text-transform: uppercase;
          }
        }
      }
    }

  }
}
.contact-form__section {
  min-height: 80vh;
  position: relative;
  background-color: $base-white;
  padding-top: 257px;
  @media screen and (max-width: 948px) {
    padding-top: 57px;
  }
  .contact-form__section__container {
    padding: 0 30px;
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 948px) {
      flex-direction: column;
    }
    .contact-form__section__col-wrapper {
      width: calc(100% / 2 - 40px);
      @media screen and (max-width: 948px) {
        width: 100%;
      }
      h2 {
        margin-bottom: 42px;
      }

      .contact-form__section_form-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 34px;

        input,
        textarea {
          border: 1px solid $base-decor;
          font-family: "Apercu Light";
          background-color: transparent;
          min-height: 47px;
          color: $base-gray-links;
          padding: 12px 16px;
          font-size: 16px;
          line-height: 1.75;
          margin-bottom: 21px;
        }

        textarea {
          height: 138px;
        }

        button {
          text-align: left;
          max-width: 43px;
          padding: 0;
        }

      }

      .contact-form__section__contact-wrapper {
        margin-bottom: 84px;

        .contact-form__section__contact-wrapper_address {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          address {
            max-width: 200px;
          }
          a {
            color: $base-gray-text;
            margin-bottom: 13px;
            display: block;
            &:hover {
              color: $base-lightgray;
            }
          }
        }
        .contact-form__section__follow {
          display: flex;

          .contact-form__section__follow-item {

            margin-right: 15px;
            svg {
              width: 27px;
              height: auto;
            }

            a {
              line-height: 27px;
              vertical-align: middle;
              color: $base-gray-text;
              &:hover,
              &:hover path {
                color: $base-lightgray;
                fill: $base-gray-text;
              }
            }
          }
        }
      }
    }
  }
}
.map-section {
  position: relative;
  width: 100vw;
  height: auto;
}
