* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none!important;
    color: #fff!important;
}
#header {
    background-image: url(img/bg-top.jpg);
    background-size: cover;
    background-position: bottom;
    height: 70vh;
}
.navbar-nav li a{
    float: right;
    color: #FFF !important;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 30px;
}
.navbar-brand img{
    height: 70px;
    margin-left: 30px;
}
.navbar-toggler {
    border: none !important;
    outline: none;
}
nav .fa-bars{
    color: #FFF;
    font-size: 26px;
}
.welcome {
    padding: 50px 100px;
    margin-top: -60px;
    background-color: #FFF;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}
.welcome h1 {
    color: #434343;
}
.welcome .home-btn {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #FFF;
    background-image:  linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(39,230,192,1) 100%);
}
.welcome .btn:focus {
    box-shadow: none;
}
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6 {
    padding: 20px 10px;
}
#about h3 {
    margin: 20px auto;
}
#services {
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}
#services .col-md-3 {
    padding: 20px;
}
#services .col-md-3 h4 {
    padding-top: 25px;
}
#services .col-md-3 img {
    height: 120px;
}
#services .col-md-3 p {
    padding: 5px;
    text-align: justify;
}
#features {
    padding-top: 300px;
    padding-bottom: 100px;
    background-image: linear-gradient(135deg, rgba(248, 80, 50, 0.5) 0%, rgba(39,230,192,0.5) 100%), url(img/sitting-people.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
}
#features svg {
    fill: rgba(255, 255, 255, 0.8);;
}
#features .col-md-6 {
    padding: 20px;
}
.feature-box {
    height: 120px;
}
.feature-box .feature-left {
    height: 120px;
    width: 20%;
    float: left;
}
.feature-box .feature-left .fas {
    padding-top: 13px;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
}
.feature-box .feature-right {
    height: 120px;
    width: 80%;
    float: left;
}
.feature-box .feature-right h4{
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
}
.feature-box .feature-right p{
    padding-left: 15px;
    text-align: left;
}
#reviews {
    padding-top: 100px;
    padding-bottom: 100px;
}
#reviews .col-md-4 {
    padding: 10px 30px;
}
#reviews img {
    width: 90px;
    border-radius: 50%;
    margin-left: -35px;
    margin-top: -35px;
    margin-bottom: 30px;
    border: 5px solid #FFF;
}
.review {
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}
.review .fa-instagram {
    color: rgba(39,230,192,1);
    padding-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}
#reviews span {
    color: rgba(39,230,192,1);
    font-weight: 600;
    font-size: 18px;
}
#reviews h1 {
    margin-bottom: 20px;
    color: rgba(39,230,192,0.8);
}
#reviews p {
    padding-bottom: 20px;
}
#reviews .middle {
    margin-bottom: -30px;
    margin-top: -30px;
}
.subscribe {
    padding: 50px 20px;
    background-image: linear-gradient(135deg, rgba(248, 80, 50, 1) 0%, rgba(39,230,192,1) 100%);
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
    margin-bottom: -160px;
}
.subscribe h3, .subscribe p {
    color: #FFF;
}
.subscribe .input-group {
    border-radius: 30px;
    background-color: #FFF;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}
.subscribe .form-control {
    border: none;
    background: transparent;
}
.subscribe .form-control:focus {
    box-shadow: none;
    background: transparent;
}
.subscribe .input-group-append {
    background-image: linear-gradient(135deg, rgba(248, 80, 50, 1) 0%, rgba(39,230,192,1) 100%);
    border-radius: 30px;
}
.subscribe .input-group-text {
    background: transparent;
    border: none;
    color: #FFF;
}
.subscribe .btn:focus {
    box-shadow: none;
}
#footer {
    margin-top: 80px;
    padding: 100px;
    background-color: rgb(0, 128, 102);
/*    background-color: #d4d4d4;*/
    color: #fff;
}
.footer-logo {
    height: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#footer h1 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#footer p {
    font-size: 15px;
}
#footer .city {
    margin-left: 37px;
}
#footer .fa, .fab {
    padding-right: 20px;
    font-size: 16px;
}
#footer hr {
    margin-top: 10px;
    
}
#footer .fa-heart {
    color: rgba(248, 80, 50, 1);
    font-size: 17px;
}
#footer .copyright {
    margin-bottom: -80px;
    text-align: center;
}
#footer p a:hover {
    color: rgba(248, 80, 50, 1)!important;
}