$base-white: #ffffff;
$base-gray-text: #5d5d5d;
$base-blue-text: #233488;
$base-gray-links: #373737;
$base-black: #000000;
$base-blue-headline: #180c4b;
$base-blue-green: #2ecdae;
$base-header-nav: #203152;
$base-border: #c7c7c7;
$base-bg-light-green: #f5f6f8;
$base-decor-el-bg: #f9fafb;

$mobile: 320px;
$tablet: 769px;
$desktop: 1240px;