@import url('https://fonts.googleapis.com/css?family=Overpass:400,600,700,800&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
a {
    text-decoration: none;
    background-color: transparent;
}
ul,
li {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
button:focus,
a:focus,
input:focus {
    outline: 0;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
button {
    border-radius: 0;
    background: none;
    border: 0;
    cursor: pointer;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none!important;
}
.btn {
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .1rem;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 15px 30px;
    transition: color .5s ease-in-out;
}
.btn:hover {
    border: 1px solid #ffffff;
    padding: 14px 29px;
}
.btn:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 16px;
    height: 3px;
    right: 16px;
    background-color: #ffffff;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 160px;
    padding-right: 160px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.column-2 {
    position: relative;
    width: 50%;
    /*-ms-flex: 0 50%;*/
    /*flex: 0 50%;*/
}
.column-2:only-of-type {
    width: 100%;
    text-align: center;
    padding-left: 0;
}
.pagination {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .14rem;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
h1 {
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
}
h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
}
.about_section_wrapper,
.principles_section,
.info_section,
.buyers_section,
.suppliers_section,
.leader_section,
.news_section,
.contact_section {
    padding: 110px 0;
}
a.links {
    border-bottom: 2px solid #0d4027;
    color: #0d4027;
    transition: border-bottom .5s ease-in-out;
}
a.links:hover {
    border-bottom: 2px solid rgba(66, 156, 67, 0.44);
}
/*---------------nav----------------*/
.header_nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    z-index: 100;
    transition: background-color 1s ease-in-out;
}
.nav-bar {
    max-width: 1440px;
    padding-right: 75px;
    padding-left: 75px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 74px;
    justify-content: space-between;
    align-items: center;

}
.nav-bar_nav {
    max-width: 990px;
}
.logo_brand img{
    width: 187px;
}
.nav-bar_green-logo {
    display: none;
}
.menu-bar {
    display: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .1rem;
    line-height: 20px;
    text-transform: uppercase;
    align-items: center;
}

.nav-bar_toggler {
    position: relative;
    display: block;
    height: 22px;
    width: 27px;
    z-index: 50;
    cursor: pointer;
    margin-left: 16px;
}
.nav-bar_toggler-icon,
.nav-bar_toggler-icon::before,
.nav-bar_toggler-icon::after {
    content: '';
    height: 2px;
    width: 27px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.collapse {
    background-color: rgba(0,0,0,.7);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: opacity .65s ease;
    transform: scale(0);
    opacity: 0;
}
.menu-open {
    transform: scale(1);
    opacity: 1;
}
.nav-bar_toggler .nav-bar_toggler-icon::before {
    top: -20px;
}
.nav-bar_toggler .nav-bar_toggler-icon::after {
    top: 20px;
}
.nav-bar_nav {
    display: flex;
}
.nav-bar_nav li {
    padding: 3px 30px 10px 21px;
    cursor: pointer;
}
.nav-bar_nav li:before {
    display: inline;
    content: '';
    width: 10px;
    height: 3px;
    position: relative;
    background-color: #ffffff;
    opacity: 0;
}
.nav-bar_nav li a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .07rem;
    line-height: 20px;
    width: 100%;
    display: inline;
}
.nav-bar_nav li:hover {
    border-radius: 20px;
    background-color: rgba(255,255,255,.15);
}
/*----------------nav active-------------------*/
.active-bar {
    position: relative;
    align-items: flex-start;
    padding-top: 26px;
    background-color: #ffffff;
    height: 80vh;
    width: 100%;
}
.active-bar .nav-bar_white-logo {
    display: none;
}
.active-bar .nav-bar_toggler-icon,
.active-bar .nav-bar_toggler-icon::before,
.active-bar .nav-bar_toggler-icon::after {
    background-color: #0d4027;
}
.active-bar .menu-bar {
    color: #0d4027;
}
.active-bar .nav-bar_green-logo {
    display: block;
    width: 100%;
}

.active-bar .nav-bar_collapse{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.active-bar .nav-bar_nav {
    flex-direction: column;
    text-align: center;
}
.active-bar .nav-bar_nav li:hover {
    background-color: rgba(13,64,39,.06);
}
.active-bar .nav-bar_nav li a {
    color: #0d4027;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .07rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.scrolled .active:before,
.active-bar .nav-bar_nav li:before {
    opacity: 1;

}
.scrolled .active:before {
    background-color: #0b4220;
}
/*---------------nav on scroll---------------------*/
.scrolled {
    width: 100%;
    background-color: #ffffff;

}
.scrolled .nav-bar_white-logo {
    display: none;
}
.scrolled .nav-bar_green-logo {
    display: block;
}
.scrolled .nav-bar_nav li a {
    color: #0b4220;
}
.scrolled .nav-bar_toggler-icon,
.scrolled .nav-bar_toggler-icon::before,
.scrolled .nav-bar_toggler-icon::after {
    background-color: #0d4027;
}
.scrolled .nav-bar_nav li:hover {
    background-color: rgba(13,64,39,.06);
}
.scrolled .menu-bar {
    color: #0b4220;
}
/*------------------header-------------------*/
.intro {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .48) 100%),url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-title {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    max-height: 80vh;
}
.intro-title h1 {
    padding-bottom: 20px;
    max-width: 630px;
}
.intro-title p {
    max-width: 490px;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.intro-title-btn {
    margin-bottom: 37px;
}
.rotate-animation {
    width: 69px;
    height: 69px;
    background: url("../img/Group_32.png") no-repeat center;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.intro-title img {
    width: 36px;
    position: relative;
    bottom: 42px;
}

.intro_parallax-element {
    position: absolute;
    display: block;
    bottom: -170px;
    left: -130px;
    z-index: 5;
}

/*--------------about-----------------*/

.about_section {
    position: relative;
    background-color: #f7f7f7;
}
.about_section_wrapper {
    display: block;
    max-width: 583px;
    margin: 0 auto;
}

.about_section_wrapper h1 {
    color: #135334;
    padding-bottom: 20px;
}
.about_section_wrapper p {
    color: #0d4027;
    padding-bottom: 20px;
}
.green-btn {
    color: #135334;
}
.green-btn:hover {
    border: 1px solid #135334;
    padding: 14px 29px;
}
.about_section .btn:before {
    background-color: #135334;
}
/*---------------vision-------------*/
.vision_section {
    position: relative;
}
.vision_section_first-column_parallax-element {
    position: absolute;
    display: block;
    left: 5%;
}
.vision_section_second-column_parallax-element {
    position: absolute;
    display: block;
    right: 5%;
}

.vision_section_first-column,
.vision_section_second-column {
    position: relative;
    padding: 110px 0;
}
.vision_section_first-column {
    background-color: #135334;
    padding-left: 10%;
}
.vision_section_second-column {
    background-color: #0d4027;
    padding-right: 10%;
}
.vision_section-description {
    max-width: 366px;
    color: #ffffff;
    margin: 0 auto;
    padding: 0 30px;
}
.vision_section-description h1 {
    padding-bottom: 20px;
}
/*-------------------principles-------------------*/
.principles_section_decor-element {
    position: absolute;
    display: block;
    top: 25%;
    left: 25%;
}
.principles_section {
    position: relative;
    background-color: #f7f7f7;
}
.principles_section .container {
    text-align: center;
}
.principles_section_title h1{
    color: #135334;
    padding-bottom: 10px;
}

.principles_section_title p {
    color: #0d4027;
    padding-bottom: 88px;
}
.principles_section_cards-wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.principles_section_card {
    max-width: 247px;
    padding: 10px;
}
.principles_section_card img {
    max-width: 125px;
    padding-bottom: 28px;
}
.principles_section_card h3 {
    color: #135334;
    padding-bottom: 20px;
}
.principles_section_card p {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
/*-----------info---------*/


.info_section {
    background-color: #f1f1f1;
    position: relative;
    z-index: 0;
}

.info_section_wrapper {
    text-align: center;
}
.info_section_title h1{
    color: #135334;
    padding-bottom: 20px;
}
.info_section_title p{
    color: #0d4027;
    padding-bottom: 49px;
}
.info_section_infographic {
    padding-bottom: 29px;
    z-index: 8;
}
.info_section .btn:before {
    background-color: #135334 ;
}
.info_section_parallax-element {
    position: absolute;
    display: block;
    right: -10%;
    z-index: -1;
}
/*---------------buyers-----------------*/

.buyers_section {
    background-color: #f7f7f7;
    position: relative;
}
.suppliers_section_description,
.buyers_section_description {
    max-width: 360px;
}
.suppliers_section_description h1,
.buyers_section_description h1 {
    padding-bottom: 20px;
}
.buyers_section_description h1 {
    color: #135334;
}
.buyers_section_description p {
    color: #0d4027;
}

.suppliers_section_card,
.buyers_section_card {
    display: flex;
    margin-top: 55px;
}
.suppliers_section_card-img,
.buyers_section_card-img {
    width: 121px;
    margin-right: 15%;
}
.suppliers_section_card-description,
.buyers_section_card-description {
    max-width: 318px;
}
.buyers_section_card-description h3 {
    color: #135334;
}
.buyers_section_card-description p {
    color: #000000;
}
.suppliers_section_card-description p,
.buyers_section_card-description p {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 10px;
}

.suppliers_section {
    background-color: #0d4027;
    color: #ffffff;
    position: relative;
}
.suppliers_section_pagination {
    color: #ffffff;
}
.buyers_section_second-column,
.suppliers_section_second-column {
    margin-top: 100px;
}
.buyers_section_first-column_parallax-element {
    position: absolute;
    display: block;
    top: 50%;
    left: -15%;
    z-index: 1;

}
.suppliers_section_first-column_parallax-element {
    position: absolute;
    display: block;
    top: 75%;
    left: -15%;
    z-index: 1;
}
/*--------------------leader---------------------*/

.leader_section {
    background-color: #f7f7f7;
    position: relative;
}

.leader_section_second-column_decor-element {
     position: absolute;
     display: block;
     bottom: 20%;
     right: -10%;
 }
.leader_section_first-column_decor-element{
    position: absolute;
    display: block;
    top: 10%;
    left: -10%;
}

.leader_section_social-icon {
    position: relative;
    top: -2px;
    margin-left: 10px;
}

.leader_section_social-icon:hover path{
    fill: #c9eb61;

}
.leader_section_description {
    max-width: 360px;
}
.leader_section_description h1 {
    color: #135334;
    padding-bottom: 20px;
}

.leader_section_description p {
    padding-bottom: 20px;
    color: #0d4027;
}
.leader_section_wrapper-row {
    display: flex;
    justify-content: space-between;
}

.leader_section_wrapper-row:first-child {
    margin-bottom: 80px;
}
.leader_section_img {
    max-width: 443px;
}
.leader_section_first-column,
.leader_section_second-column {
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

/*------------------news--------------------*/
.news_section {
    background-color: #f1f1f1;
    position: relative;
}
.news_section_parallax-element {
    position: absolute;
    display: block;
    right: -10%;
}
.news_section_wrapper {
    justify-content: space-between;
}
.news_section_first-column {
    align-self: center;
    width: 30%;
}
.news_section_description {
    color: #135334;
}
.slick-initialized .slick-slide {
    display: flex !important;
    min-height: 510px;
}
.news_section_img {
    display: block;
    width: 262px;
    background-repeat: no-repeat;
    background-size: cover;
}
.first-slide {
    background-image: url("../img/card-slider-img.jpg");
}
.second-slide {
    background-image: url("../img/slider-img-2.jpg");
}
.third-slide {
    background-image: url("../img/slider-img-3.jpg");
}
.news_section_second-column {
    width: 70%;
    min-height: 510px;
}
.news_section_second-column_description {
    background-color: #ffffff;
    padding: 8% 5% 10% 9%;
    max-width: 390px;
}
.news_section_second-column_description .time{
    color: #0d4027;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .15rem;
    line-height: 20px;
    display: block;
    padding-bottom: 20px;
}
.news_section_second-column_description h3 {
    color: #135334;
    padding-bottom: 20px;
}
.news_section_second-column_description p {
    padding-bottom: 30px;
}
.news_section .btn:before {
    background-color: #135334;
}

.slider-wrapper,
.slick-active {
    outline: none;
}
.slick-arrow {
    display: block;
    position: absolute;
    bottom: 20%;
    left: -42%;
    z-index: 1;
    padding: 0;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
    outline: none;
    transition: 0.25s;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.slick-arrow:hover {
    opacity: .2;
}
.slick-next {
    background-image: url("../img/next.svg");
    margin-left: 30px;

}
.slick-prev {
    background-image: url("../img/prev.svg");


}
/*----------------------contact----------------------*/

.contact_section {
    background-color: #0d4027;
}
.contact_section_wrapper {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}
.contact_section_description {
    color: #ffffff;
}
.contact_section_description h1 {
    padding-bottom: 20px;
}
.contact_section_description p:last-child {
    padding-bottom: 54px;
}
.contact_section_form-wrapper label {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
}
.contact-section-btn {
    margin-top: 30px;
}
.contact-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 305px;
}
.contact_section_form-wrapper .row {
    padding-bottom: 23px;
    justify-content: space-between;
}
.contact-field select {
    padding: 6px 38px 6px 17px;
}
.contact-field input,
.contact-field_textarea textarea{
    padding: 6px 17px;

}
.contact-field input,
.contact-field select,
.contact-field_textarea textarea{
    border: 1px solid #ffffff;
    background-color: transparent;
    height: 42px;
    color: #ffffff;
    padding: 6px 17px;
    font-size: 16px;
    line-height: 28px;
}
.contact-field_textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    resize: none;
}

.contact-field_textarea textarea {
    flex-direction: row;
    min-height: 105px;
    resize: none;

}
.agreement-check {
    padding-top: 10px;
    text-align: left;
}

input[type="checkbox"] {
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border: 1px solid #ffffff;
    background-color: transparent;
}
input[type="checkbox"]:checked {
    border: 1px solid #ffffff;
    background-color: transparent;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: 40% 40%;
    vertical-align: middle;
}
.dropdown {
    display: inline;
    width: 100%;
    background: url('../img/dropdown.svg') no-repeat 98% 50%;
    background-size: 13px;
}
option {
    color: #135334;
}
/*---------------footer--------------*/
.footer_section {
    background-color: #000000;
    color: #ffffff;
}
.footer_section-container {
    padding: 42px 151px;
}
.footer_section-row {
    justify-content: space-between;
}

.footer_section-row:first-child {
    padding-bottom: 29px;
}
.footer_section-button {
    color: #ffffff;
    background-color: transparent;
    width: 100%;
}

.footer_section_privacy {
    display: flex;
}
.footer_section_privacy-item {
    padding-right: 32px;
}
.footer_section_privacy-item:last-child {
    padding-right: 0;
}
.footer_section_privacy a {
    color: #ffffff;
}
.footer_section a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
}



@media screen and (max-width: 1330px) {

    .menu-bar {
        display: flex;
    }
    .nav-bar_collapse {
        display: none;
    }
    .info_section_parallax-element,
    .news_section_parallax-element {
        right: -30%;
    }

}
@media screen and (max-width: 1024px) {
    .about_section_wrapper,
    .principles_section,
    .info_section,
    .buyers_section,
    .suppliers_section,
    .leader_section,
    .news_section,
    .contact_section,
    .vision_section_first-column,
    .vision_section_second-column {
        padding: 72px 0;
    }
    .column-2 {
        position: relative;
        width: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }
    .vision_section .row {
        flex-direction: column;

    }

    .principles_section_decor-element {
        top: 15%;
    }
    .principles_section_cards-wrapper {
        flex-wrap: wrap;
    }
    .principles_section_card {
        padding-bottom: 44px;
     }
    .buyers_section_second-column,
    .suppliers_section_second-column {
        margin-top: 85px;
    }
    .suppliers_section_cards-wrapper,
    .buyers_section_cards-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .suppliers_section_description,
    .buyers_section_description,
    .leader_section_description {
        max-width: 100%;
    }
    .leader_section_wrapper-row {
        flex-wrap: wrap;
    }
    .leader_section_wrapper-row:last-child {
        flex-direction: column-reverse;
    }
    .leader_section_img {
        max-width: 100%;
    }

    .leader_section_second-column,
    .leader_section_first-column {
        padding-bottom: 20px;
    }
    .leader_section_second-column_decor-element {
        right: 20%;
    }

    .news_section_first-column {
        align-self: flex-start;
        width: 100%;
    }
    .news_section_second-column {
        width: 100%;
        min-height: 560px;
    }
    .news_section_description {
        padding-bottom: 50px;
    }
    .slider-wrapper {
        display: flex;
        flex-direction: column;
    }
    .slick-initialized .slick-slide {
        min-height: 560px;

    }
    .news_section_wrapper {
        flex-direction: column;
    }
    .news_section_img {
        display: block;
        width: 100%;
        min-height: 235px;
        padding-top: 50%;
    }
    .news_section_second-column_description {
        width: 100%;
        padding: 36px 22px;
        max-width: 100%;
    }
    .slick-arrow {
        top: -25%;
        left: 90%;
    }
    .slick-next {
        margin-left: 35px;
    }
    .contact-field {
        max-width: 100%;
    }
    .contact_section_form-wrapper .row {
        padding-bottom: 0;
    }
    .contact-field {
        padding-bottom: 14px;
    }
    .suppliers_section_first-column_parallax-element,
    .buyers_section_first-column_parallax-element {
        top: 140%;
        left: -45%;
    }
    .footer_section-container {
        padding: 36px 72px;
    }





}
@media screen and (max-width: 769px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .intro_parallax-element {
        display: none;
    }
    h1 {
        font-size: 34px;
        line-height: 40px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    .nav-bar {
        padding-right: 30px;
        padding-left: 30px;
    }
    .logo_brand img{
        width: 149px;
    }

    .news_section_second-column {
        width: 100%;
    }
    .principles_section_card img {
        max-width: 100px;
        padding-bottom: 14px;
    }
    .suppliers_section_card,
    .buyers_section_card {
        flex-direction: column;
        margin: 0;
        padding-bottom: 50px;
    }
    .suppliers_section_cards-wrapper,
    .buyers_section_cards-wrapper {
        align-items: center;
    }
    .suppliers_section_card-img,
    .buyers_section_card-img {
        width: 100px;
        padding-bottom: 18px;
        margin: 0 auto;
    }
    .buyers_section_second-column,
    .suppliers_section_second-column {
        margin-top: 50px;
    }
    .suppliers_section_card-description,
    .buyers_section_card-description {
        text-align: center;
    }

    .vision_section_first-column_parallax-element,
    .vision_section_second-column_parallax-element,
    .header_parallax-element,
    .buyers_section_first-column_parallax-element,
    .suppliers_section_first-column_parallax-element,
    .info_section_parallax-element,
    .news_section_parallax-element {
        display: none;
    }
    .principles_section_decor-element {
        top: 10%;
        left: -10%;
    }
    .footer_section-row:last-of-type {
        flex-direction: column;
        align-items: center;
    }
    .footer_section_second-column span {
        display: block;
        padding-top: 30px;
    }
    .footer_section_privacy-item {
        padding-right: 5%;
        white-space: nowrap;
    }

}
@media screen and (max-width: 370px) {
    .heading-slash {
       display: inline-block;
    }
    .footer_section_privacy {
        flex-direction: column;
    }
    .footer_section_privacy-item {
        padding-bottom: 10px;
    }
    .footer_section_privacy-item:last-child {
        padding-bottom: 0;
    }
}





