//Colors
$gold: #c39d5f;
$grey: #4d4d4d;
$white: #fff;
$black: #141414;
//Font
$f_roboto: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Sacramento&display=swap');