
form {
    padding-top: 25px;
}
.labels {
    padding-bottom: 6px;
}
.form-row {
    padding-top: 40px;
    display: flex;
}
.form-col {
     width: 100%;
    display: block;
    max-width: 35%;
    padding-right: 2%;
}
.form-col:last-child {
    padding-right: 5%;
}

.input-field {
    max-width: 100%;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 20px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
}
.dropdown {
    display: block;
    font-family: Open Sans;
    width: 100%;
    background-image: url(img/icons/arrow_down.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 98% 50%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    color: #ffffff;
    font-family: Bitter;
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(182deg, #4964bd 0%, #233488 100%);
}
button:first-child {
    margin-right: 20px;
    margin-bottom: 20px;
}
button:hover {
    background: none;
    border: 1px solid #233488;
    color: #233488;
}
.top-buttons {
    padding-top: 35px;
}
.top-buttons *:hover {
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.specialize {
    background-image: url(img/bg/cirkel.svg);
    background-repeat: no-repeat;
    background-position: -150px -30px;
}
.specialize-text {
    margin-top: 35px;
    color: #5d5d5d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    max-width: 30%;
}
.specialize-img {
    padding-top: 10%;
    position: relative;
    margin: 0 auto;
    right: 25%;
}
.specialize-cards {
    width: 48%;
    display: block;
    position: relative;
    top: -30px;
}
.card:first-child {
    margin-right: 20%;
}
.card-row1 {
    display: flex;
}
.top-card {
    position: relative;
    bottom: -30px;
    left: -50px;
    width: 159px;
    height: 159px;
    border-radius: 50%;
    background-color: #f9fafb;
}
.top-card img{
    display: block;
    margin: auto;
    padding: 30%;
} 
.bottom-card {
    position: relative;
    margin-bottom: 15%;
}
h3 {
    color: #180c4b;
    font-family: Bitter;
    font-size: 18px;
    font-weight: 700;
}
 .first-card {
    height: 100%;
    color: #5d5d5d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding-top: 10px;
}
.double-stn {
    margin-top: 5%;
    background-image: url(img/bg/Oval_3.svg);
    background-repeat: no-repeat;
    background-position: -450px 0px;
}
.custom-review {
    margin-top: 15%;
    margin-bottom: 10%;
    background-image: url(img/bg/Onze_klanten.png);
    background-repeat: no-repeat;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.reviews{
    padding-left: 50px;
}
.reviews h2 {
    color: #180c4b;
    font-family: Bitter;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}
.reviews p{
    margin-top: 40px;
    margin-bottom: 24px;
    max-width: 434px;
    color: #5d5d5d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.review-img {
    background-image: url(img/illustration/pexels-photo-935756.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120%;
    position: relative;
    top: -50%;
}
.sign {
    color: #5d5d5d;
    font-family: Bitter;
    font-size: 14px;
    font-weight: 400;
}
.review-switches {
    display: flex;
    margin-top: 30px;
}
.bg-arrow:last-child {
    margin-left: 12px;
}
.bg-arrow {
    fill: #ffffff;
    height: 34px;
    width: 34px;
    background-image: linear-gradient(175deg, #4964bd, #233488);
    border-radius: 50%;
    padding: 9px;
}
.bg-arrow:hover {
    opacity: 0.28;
}
.caption {
    position: relative;
    bottom: 25%;
    margin: 0  auto 0 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.caption p{
    padding-left: 2%;
    max-width: 380px;
    line-height: 1.71;
    color: #5d5d5d;
}
.holding {
    position: relative;
    background-image: url(img/bg/rectangle-2.svg), url("img/bg/mask.svg");
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
}
.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 15% 0 5% auto;
}

.holding-item {
    padding: 10% 10%;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}
.h-img {
    height: 155px;
    display: block;
    margin-bottom: 40px;
    background-position: center;
}
.single-house {
    background-image: url(img/illustration/house-single.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}
.double-house {
    background-image: url(img/illustration/houses-x-2.png);
    background-repeat: no-repeat;
    
}
.triple-house {
    background-image: url(img/illustration/houses-3.png);
    background-repeat: no-repeat;
}
.monuple-house {
    background-image: url(img/illustration/houses-1.png);
    background-repeat: no-repeat;
}
.more {
    margin: 0 auto;
    padding-left: 10px;
    height: 20px;
    vertical-align: middle;
}
.holding-item-check {
    text-align: center;
    width: 100%;
    display: block;
    white-space: nowrap;
    margin-top: 25px;
}
.holding-item-check a {
    font-family: Bitter;
    font-size: 18px;
    font-weight: 600;
    color: #2ecdae;
}
.holding-item-text p{
    margin-top: 12px;
    margin-bottom: 10px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    color: #5d5d5d;
}
.holding-item-text span {
    color: #212c9e;
    font-weight: 600;
}
.survey {
    height: 800px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.survey-text {
    margin-top: 162px;
    margin-left: 10%;
}
.survey-text h4{
    padding-bottom: 25px;
    font-family: Bitter;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #180c4b;
}
.survey-text p {
    max-width: 550px;
    padding-bottom: 25px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    color: #000000;
}
.survey-img {
    width: 51%;
    background-image: url(img/illustration/woz-illustration-1.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.map-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 7%;
}

.site-map-img img{
    padding-bottom: 30px;
}
.site-map-item p{
    color: #5d5d5d;
    max-width: 276px;
    margin-bottom: 10%;
}
.site-map-item li{
  font-size: 14px;
  font-weight: 300;
  line-height: 2.57;
  color: #373737;
}
.site-map-item li:first-child{
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Bitter;
    font-size: 16px;
    color: #233488;
    white-space: nowrap;
}
.email-holder {
    background-color: transparent;
    padding: 24px;
    height: 45px;
    border-radius: 25px;
    border: solid 0.5px #373737;
}
.btn-arrow {
    display: inline;
    vertical-align: middle;
    height: 15px;
    fill: #ffffff;
    padding-left: 30px; 
}

.social {
    background-color: #ffffff;
    display: flex;
}
.footer-social-icons {
    display: flex;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-social-icons a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #233488;
}
.privacy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    background-image: linear-gradient(175deg, #4964bd 0%, #233488 100%);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    color: #ffffff;
}
.privacy *{
    margin-right: 10%; 
}

@media screen and (max-width: 1200px) {
    .top-text h1 {
        font-size: 45px;
    }
    .top-text p {
        font-size: 18px;
    }
    .outer-form {
        width: 45%;
    }
    .specialize-text {
        margin-top: 10%; 
    }
    .specialize-img {
        width: 200%;
        
    }
    .top-card {
        width: 100px;
        height: 100px;
    }
    .top-card img {
        width: 80%;
        display: block;
        margin: auto;
        padding: 15%;
    }
    .survey-img {
        width: 70%;
    }
    .privacy *{
        margin-right: 3%; 
}

}
@media screen and (max-width: 990px) {
    .hide-desktop {
        position: relative;
        top: 5vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        display: none;
    }
    .hide-desktop:hover {
        display: block;
    }
    nav:hover .hide-desktop{
        display: block;
    }
    .hide-mobile {
        display: block;
        position: absolute;
        right: 8vw;
    }
    .nav-bar {
        height: 30px;
        fill: #203152;
        opacity: 0.4;
    }
    .nav-bar:hover {
        fill: #203152;
        opacity: 1;
    }
    .nav-link {
        line-height: 45px;
    }
    .sub-menu {
        display: block;
    }
    .sub-menu li {
        padding-left: 20px;
    }
    .top-wrap {
        margin: 10% auto;
        width: auto;
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-text {
        width: 100%;
    }
    .outer-form {
        display: block;
        width: 100%; 
    }
    .specialize .container{
        flex-direction: column;
    }
    .specialize-text {
        max-width: 100%;
    }
    .specialize-img {
        width: 100%;
        padding-top: 5%;
        position: relative;
        right: 15%;
    }
    .specialize-cards {
        width: 100%;
    }
    .row {
        flex-wrap: wrap;
    }
    .col-2 {
        width: 50%;
    }
    .col-4 {
        margin-top: 5%;
        width: 50%;
    }
    .custom-review {
        flex-direction: column;
        height: 100%;
    }
    .review-img {
        position: static;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 40vh;
    }
    .caption {
        position: static;
        margin-top: 5%;
    }
    .survey {
        height: 100%;
        
    }
    .survey-text {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        
    }
    .survey-img {
        display: inline-block;
        width: 150%;
    }
    .map-row {
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 8% auto;
    }
    .footer-social-icons {
        flex-direction: column;
    }
    .footer-social-icons a {
        padding-bottom: 10%;
    }
    .privacy {
        flex-direction: column;
        justify-content: center;
    }
    .privacy *{
        padding-bottom: 1%;
    }

}
@media (max-width: 767px) {
    .specialize-img{
        display: none;
    }
    .survey-img {
        display: none;
    }
    .site-map-item li{
        margin: 0 auto;
        padding: 0;
        font-size: 14px;
    }
    .site-map-item li:first-child{
        margin: 1%;
    }
    .review-img {
        max-height: 100%;
    }
}
